{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "babel-plugin-transform-es2015-constants",
    ["transform-react-remove-prop-types", {
      "additionalLibraries": ["react-immutable-proptypes"]
    }],
    [
      "module-alias",
      [
        {
          "expose": "root",
          "src": "."
        },
        {
          "expose": "components",
          "src": "src/core/components"
        },
        {
          "expose": "containers",
          "src": "src/core/containers"
        },
        {
          "expose": "core",
          "src": "src/core"
        },
        {
          "expose": "plugins",
          "src": "src/plugins"
        },
        {
          "expose": "img",
          "src": "src/img"
        },
        {
          "expose": "corePlugins",
          "src": "src/core/plugins"
        },
        {
          "expose": "less",
          "src": "src/less"
        }
      ]
    ]
  ]
}
