{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            /* benefit of C/S/FF/Edge only? */
            "> 1%",
            "last 2 versions",
            "Firefox ESR",
            "not dead",
          ]
        },
        "useBuiltIns": "entry",
        "corejs": "2"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": "2"
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    ["transform-react-remove-prop-types", {
      "additionalLibraries": ["react-immutable-proptypes"]
    }],
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "root": ".",
          "components": "./src/core/components",
          "containers": "./src/core/containers",
          "core": "./src/core",
          "plugins": "./src/plugins",
          "img": "./src/img",
          "corePlugins": "./src/core/plugins",
          "less": "./src/less",
        }
      }
    ]
  ]
}
