{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    [
      "module-alias",
      [
        {
          "expose": "components",
          "src": "src/core/components"
        },
        {
          "expose": "core",
          "src": "src/core"
        },
        {
          "expose": "img",
          "src": "src/img"
        },
        {
          "expose": "corePlugins",
          "src": "src/core/plugins"
        },
        {
          "expose": "less",
          "src": "src/less"
        },
        {
          "expose": "base",
          "src": "npm:getbase/src/less/base"
        }
      ]
    ]
  ]
}
