parser: babel-eslint
env:
  browser: true
  node: true
  es6: true
  jest: true
  jest/globals: true
parserOptions:
  ecmaFeatures:
    jsx: true
extends:
  - eslint:recommended
  - plugin:react/recommended
plugins:
  - react
  - mocha
  - import
  - jest
settings:
  react:
    pragma: React
    version: '15.0'
rules:
  semi: [2, never]
  strict: 0
  quotes: [2, double, { allowTemplateLiterals: true }]
  no-unused-vars: 2
  no-multi-spaces: 1
  camelcase: 1
  no-use-before-define: [2, nofunc]
  no-underscore-dangle: 0
  no-unused-expressions: 1
  comma-dangle: 0
  no-console: [2, { allow: [warn, error] }]
  react/jsx-no-bind: 1
  react/jsx-no-target-blank: 2
  react/display-name: 0
  mocha/no-exclusive-tests: 2
  import/no-extraneous-dependencies: 2
  react/jsx-filename-extension: 2