node_modules
.idea
.vscode
.deps_check
.DS_Store
.nyc_output
npm-debug.log*
.eslintcache
*.iml
selenium-debug.log
test/e2e/db.json
docs/_book

# Cypress
test/e2e-cypress/screenshots
test/e2e-cypress/videos