wordnik*.zip
.DS_STORE
*.ipr
*.iml
*.iws
lib/*.jar
META-INF/
web/
index
lib/*.zip
dk/
index_dict
logs
src/main/java/com/wordnik/env/Version.scala
lib/*.pom
version.properties
reports/*
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
