*
*/
!README.md
!package.json
!dist/swagger-ui.js
!dist/swagger-ui.js.map
!dist/swagger-ui.css
!dist/swagger-ui.css.map
!favicon-16x16.png
!favicon-32x32.png
!index.html
!oauth2-redirect.html
!swagger-ui-bundle.js
!swagger-ui-bundle.js.map
!swagger-ui-standalone-preset.js
!swagger-ui-standalone-preset.js.map
