/**
 * reset.less
 * @adapted for Intapp Inc.
 * @author Aleksandr Tverdokhleb
 * @fileoverview This file contains reset styles for Intapp swagger.
 *
 */
/* HTML5 display-role reset for older browsers */
figcaption,
figure,
header,
section,
footer,
article,
aside,
details,
main,
menu,
nav,
summary {
  display: block;
}
/* More info on border-box model: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100%;
}
html {
  overflow-y: scroll;
}
body,
menu,
form,
fieldset,
legend,
figure,
figcaption,
h1,
h2,
h3,
h4,
p,
th,
td,
ul,
ol,
li,
dl,
dt,
dd,
input,
button,
textarea,
pre,
select,
optgroup,
option {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
legend {
  border: 0 none;
  min-width: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
input,
textarea,
button,
select,
optgroup,
option {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
textarea {
  overflow: auto;
}
*[disabled] {
  cursor: default;
}
