<!--div class='auth_button' id='apikey_button'><img class='auth_icon' alt='apply api key' src='images/apikey.jpeg'></div-->
<div class='auth_container' id='apikey_container'>
  <div class='key_input_container'>
    <div class='auth_label'><label for='input_apiKey_entry'>{{keyName}}</label></div>
    <input placeholder='api_key' class='auth_input' id='input_apiKey_entry' name='apiKey' type='text'/>
    <div class='auth_submit'><a class='auth_submit_button' id='apply_api_key' href='#' data-sw-translate>apply</a></div>
  </div>
</div>
