
<div class='array'>
    {{#unless isRoot}}<span class='document-name'>{{name}}</span>:{{/unless}}
    <span class='document-undefined'>undefined</span>,
    <span class='document-type'>{{refDataType}}</span>
    <span class='array-set' id="{{id}}-set">+</span>
</div>
