
<div class='property'>
{{#unless isRoot}}<label for="{{path}}"><span class='document-name'>{{name}}</span>:</label>{{/unless}}
    <span class='undefined'>undefined</span>
    <span class='document-type'>array[ {{refDataType}} ]</span>
    <a class='array-set' id="{{id}}-set">create array</a>
</div>
