<div class="auth_container">

    <div class="auth_inner"></div>
    <div class="auth_submit"><a class="auth_submit_button" href="#" data-sw-translate>apply</a></div>
    {{#if isLogout}}
        <input type="button" class="auth_logout__button" value="logout">
    {{/if}}
</div>
