<div class='auth_button' id='basic_auth_button'><img class='auth_icon' src='images/password.jpeg'></div>
<div class='auth_container' id='basic_auth_container'>
  <div class='key_input_container'>
    <div class="auth_label">Username</div>
    <input placeholder="username" class="auth_input" id="input_username" name="username" type="text"/>
    <div class="auth_label">Password</div>
    <input placeholder="password" class="auth_input" id="input_password" name="password" type="password"/>
    <div class='auth_submit'><a class='auth_submit_button' id="apply_basic_auth" href="#">apply</a></div>
  </div>
</div>

