<div class='basic_auth_container'>
    <h3 class="basic_auth__title">Basic authentication{{#if isLogout}} - authorized{{/if}}</h3>
    {{#unless isLogout}}
        <form class="key_input_container">
            <div class="auth__description">{{description}}</div>
            <div class="auth_label">
                <span class="basic_auth__label" data-sw-translate>username:</span>
                <input required placeholder="username" class="basic_auth__username auth_input" name="username" type="text"/>
            </div>
            <div class="auth_label">
                <span class="basic_auth__label" data-sw-translate>password:</span>
                <input required placeholder="password" class="basic_auth__password auth_input" name="password" type="password"/></label>
            </div>
        </form>
    {{/unless}}
</div>
