<header class="gb-header">
    <div class="logo-intapp-api">Intapp API</div>
    <ul class="gb-header-nav">
        <li><a href="#">Open API</a></li>
        <li class="is-selected">
            <a href="#doc">Documents</a>
            <ul class="gb-header-nav-inner">
                <li><a href="#doc">OAuth2 Details</a></li>
                <li><a href="#doc">Provisioning Step Through</a></li>
                <li><a href="#doc">Steady Step Through</a></li>
            </ul>
        </li>
        <li><a href="#logout">Log out</a></li>
    </ul>
    <div class="gb-header-overview">
        <h1>Overview</h1>
    </div>
</header>
<div class="swagger-ui-wrap">
    <h2>Documentation</h2>
</div>