<header class="gb-header-sm">
    <div class="logo-intapp-api">Intapp API</div>
    <ul class="gb-header-nav">
        <li><a href="#">Platform API</a></li>
        <li class="has-drop-menu is-selected">
            <a href="#doc/oauth2">Documents</a>
            <div class="gb-header-nav-inner">
                <ul>
                    <li class="is-selected"><a href="#doc/oauth2">OAuth2 details</a></li>
                    <!--<li><a href="#doc/provisioning">Provisioning walk-through</a></li>-->
                    <!--<li><a href="#doc/steadystate">Steady State walk-through</a></li>-->
                </ul>
            </div>
        </li>
        <li><a href="#logout">Log out</a></li>
    </ul>
</header>
<div class="swagger-ui-wrap">
    <section class="gb-content">
        <strong>@BrianZhou</strong> to provide content
    </section>
</div>