<td class='code'>{{name}}</td>
<td colspan="3">
    <ul class="document-nav">
        <li><a class="document-link" href="#">Document</a></li>
        <li><a class="json-link" href="#">JSON</a></li>
    </ul>
    <div class='model-json'>
        <textarea class='body-textarea' name='{{name}}'>{{defaultValue}}</textarea>
        <br />
        <div class="parameter-content-type" />
    </div>
    <form class='model-document'></form>
</td>
<td><span class="model-signature"></span></td>
