<header class="gb-header-sm">
    <div class="logo-intapp-api">Intapp API</div>
    <ul class="gb-header-nav">
        <li><a href="#">Open API</a></li>
        <li class="has-drop-menu is-selected">
            <a href="#doc/oauth2">Documents</a>
            <div class="gb-header-nav-inner">
                <ul>
                    <li class="is-selected"><a href="#doc/oauth2">OAuth2 Details</a></li>
                    <li><a href="#doc/provisioning">Provisioning Step Through</a></li>
                    <li><a href="#doc/steadystate">Steady State Through</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#logout">Log out</a></li>
    </ul>
</header>
<div class="swagger-ui-wrap">
    <section class="gb-content">
        <h1>REST API Authentication Guide</h1>

        <p>Welcome to your first step in using Intapp API’s. This guide outlines the OAuth2 authentication procedure and highlights example API calls for the Open application.</p>
    </section>
</div>