<section class="c-box-filter">
  <form id='mId_selector api_selector'>
    <div class="row">
      <div class="col-xs-6 col-sm-5">
        <label class="c-input-label" for="input_mId">Global Merchant ID (mID)</label>
        <div class="input-group">
          <input class="c-input-field" placeholder="" id="input_mId" name="input_mId" type="text"/>
        </div>
      </div>
      <div class="col-xs-6 col-sm-5">
        <label class="c-input-label" for="input_apiToken">API Token</label>
        <div class="input-group">
          <input class="c-input-field" placeholder="" id="input_apiToken" name="apiKey" type="text"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <small class="autofill hidden"><i class="fa fa-magic"></i>Autofill</small>
      </div>
    </div>
  </form>
</section>