<section class="c-box-filter">
  <p><strong>Global Parameters</strong></p>
  <hr />
  <form id='mId_selector api_selector'>
    <div class="col-xs-12 col-sm-4">
      <label class="c-input-label" for="input_mId">Merchant ID (mID)</label>
      <div class="input-group">
        <input class="c-input-field" placeholder="" id="input_mId" name="input_mId" type="text"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label class="c-input-label" for="input_apiToken">API Token</label>
      <div class="input-group">
        <input class="c-input-field" placeholder="" id="input_apiToken" name="apiKey" type="text"/>
      </div>
    </div>
  </form>
</section>