<header class="header-login-page"><div class="logo-intapp-api" title="Intapp API">Intapp API</div></header>
<section class="content-login-page">
    <form class="form-login-page">
        <!--add is-invalid class to show error-->
        <div class="form-control is-required">
            <label for="tenant">Tenant</label>
            <input id="tenant" name="tenant" type="text" placeholder="tenantId" />
            <p class="error-msg">This field is required.</p>
        </div>
        <!--add is-invalid class to show error-->
        <div class="form-control is-required">
            <label for="username">Username</label>
            <input id="user" name="username" type="text" placeholder="username" />
            <p class="error-msg">This field is required.</p>
        </div>
        <!--add is-invalid class to show error-->
        <div class="form-control is-required">
            <label for="password">Password</label>
            <input id="pass" name="password" type="password" placeholder="password" />
            <p class="error-msg">This field is required.</p>
        </div>
        <button type="submit" class="button button-green" disabled="disabled"> Log in </button>
        <div class="form-control" id="server-validation-error">
            <p class="error-msg">This field is required.</p>
        </div>
    </form>
</section>