<form>
    <div><input id="tenant" name="tenant" type="text" placeholder="tenantId" /></div>
    <div><input id="user" name="username" type="text" placeholder="username" /></div>
    <div><input id="pass" name="password" type="password" placeholder="password" /></div>
    <div><button type="submit">Submit</button></div>
</form>