<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div class="token-generator hide" style="padding: 0px">

            </div>
            <div id="resources_nav" data-navigator>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources'></ul>
</div>
