<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value>Get all clients</span>
            </div>
            <div id="resources_nav" data-navigator>
                <div id='sidebar-header'></div>
            </div>
        </div>
    </div>
</div>
<!--div id='sidebar-header'></div-->


<div id='resources_container'>
    <ul id='resources'></ul>
</div>
