<div id="swagger_sidebar" style="padding-top: 30px">
    <div class="sticky-nav-placeholder fixed">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>
            <div id="resources_nav" data-navigator>
                <div id='sidebar-header'></div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources'></ul>
</div>
