<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav fixed">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>
            <div class="token-generator hide">
                <!--span data-close="" class="icon-budicon-471"></span>
                <label for="input-api-token">Token generator</label>
                <input type="text" autocorrect="off" readonly="readonly" class="form-control" id="input-api-token" placeholder="Login and add scopes to get a token">
                <a class="tg-link" data-toggle="modal" data-target="#credentials-modal">API Key/Secret</a>
                <a id="open-jwt-io" class="hide tg-link" target="_blank">Debug in jwt.io</a>

                <div class="scope-selector">
                    <label for="scopes">Scopes</label>
                    <div data-scope-list=""></div>
                    <div class="area controls">
                        <div class="custom-select">
                            <span data-select-value="">entity</span>
                            <select name="entity" data-entity="">
                                <option value="">entity</option>
                                <option value="users">users</option>
                                <option value="users_app_metadata">users_app_metadata</option>
                                <option value="clients">clients</option>
                                <option value="client_keys">client_keys</option>
                                <option value="connections">connections</option>
                                <option value="rules">rules</option>
                                <option value="email_provider">email_provider</option>
                                <option value="tokens">tokens</option>
                                <option value="stats">stats</option>
                            </select>
                        </div>
                        <div class="custom-select disabled">
                            <span data-select-value="">action</span>
                            <select disabled="" name="action" data-action="">
                                <option value="">action</option>
                                <option value="read">read</option>
                                <option value="update">update</option>
                                <option value="delete">delete</option>
                                <option value="create">create</option>
                                <option value="blacklist">blacklist</option>
                            </select>
                        </div>
                    </div>

                    <div class="area cta">
                        <div data-add-scope="" class="btn disabled"><span class="icon-budicon-519"></span></div>
                    </div>
                </div-->
            </div>
            <div id="resources_nav" data-navigator>
                <div id='sidebar-header'></div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources'></ul>
</div>
