
<div class='container' id='resources_container'>
    <ul id='resources'>
    </ul>

    <div class="footer">
        <br>
        <br>
        <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
        {{#if apiVersion}}
        , <span style="font-variant: small-caps">api version</span>: {{apiVersion}}
        {{/if}}]</h4>
    </div>
</div>
