{{#each resourcesArray}}
	<li>
		<a href="#{{this.attributes.viewId}}">{{this.id}}</a>
		<ul>
		{{#each this.attributes.typeModels}}
			<li>
				<a href="#{{this.attributes.viewId}}">{{this.attributes.name}}</a>
			</li>
		{{/each}}
		</ul>
	</li>
{{/each}}