{{#each resourcesArray}}
	<li>
		<a href="#{{this.attributes.viewId}}">{{this.id}}</a>
		<ul>
		{{#each this.attributes.operationsArray}}
			<li>
				<a href="#{{this.attributes.viewId}}">{{this.attributes.nickname}}</a>
			</li>
		{{/each}}
		</ul>
	</li>
{{/each}}