
<div class='property'>
    {{#unless isRoot}}<span class='document-name'>{{name}}</span>:{{/unless}}
    <span class='document-undefined'>undefined</span>,
    <span class='document-type'>{{dataType}}</span>
    <span class='object-set' id="{{id}}-set">+</span>
</div>
