{{!-- Expand Fields --}}
<div class="row">
  <div class="col-sm-3 param-code">
    <label class="code required c-input-label" for="textInput">{{name}}</label>
  </div>
  <div class="col-sm-9">
    <form class='query-choices'></form>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 param-type">
    {{{paramType}}}
  </div>
  <div class="col-sm-9">
  {{#if isBody}}
    <span class='model-signature'></span>
  {{else}}
    <span class='data-type'></span>
  {{/if}}
  </div>
</div>
{{!--
<div class="row">
  <div class="col-sm-10 description">
    {{{description}}}
  </div>
</div>--}}