<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<select class="param-choice">
	<option disabled selected> -- select an option -- </option>
	{{#each choices}}
		<option value="{{this}}">{{this}}</option>
	{{/each}}
</select>
<select class='filter-operator'>
	<option value='=='>==</option>
	<option value='!='>!=</option>
	<option value='>'>&gt;</option>
	<option value='<'>&lt;</option>
	<option value='>='>&gt;=</option>
	<option value='<='>&lt;=</option>
</select>
<input class='filter-argument'>
