<button disabled type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<span>Filter:</span>
<select class="param-choice">
	<option value="" disabled selected> Filter by... </option>
	{{#each allChoices}}
		<option value="{{this}}">{{this}}</option>
	{{/each}}
</select>
<select class='filter-operator'>
	<option value='=='>==</option>
	<option value='!='>!=</option>
	<option value='>'>&gt;</option>
	<option value='<'>&lt;</option>
	<option value='>='>&gt;=</option>
	<option value='<='>&lt;=</option>
</select>
<input class='filter-argument'>
