<td class='code required'>{{name}}</td>
<td>
    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value=''/>
</td>
<td width='500'>
    <strong>{{description}}</strong>
</td>
