<div class='heading'>
  <h2>
    <a href='#!/{{id}}'>{{name}}</a> {{#description}} {{/description}}{{{description}}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#' class="collapse_button">
        Hide Operations
      </a>
    </li>
    <li>
      <a href='#' class="expand_button">
        Show Operations
      </a>
    </li>
  </ul>
</div>
<ul class='operationTypes' id='{{id}}_endpoint_list' style='display:block'>

</ul>
