<div class="signature-container row">
  <div class="description col-sm-6">
  <h6>Model</h6>
      {{{signature}}}
  </div>
  <div class="snippet col-sm-6">
  <h6>Model Schema</h6>
      <pre><code></code></pre>
      <large class="notice"></large>
  </div>
</div>
