<div>
<ul class="signature-nav">
    <li><a class="description-link" href="#">Model</a></li>
    <li><a class="snippet-link" href="#">Model Schema</a></li>
</ul>
<div>

<div class="signature-container">
    <div class="snippet">
        <pre><code></code></pre>
        <large class="notice"></large>
    </div>
        <div class="description">
        {{{signature}}}
    </div>
</div>

