<div>
<ul class="signature-nav">
  <li><a class="description-link" href="#" data-sw-translate>Model</a></li>
  <li><a class="snippet-link" href="#" data-sw-translate>Model Schema</a></li>
</ul>
<div>

<div class="signature-container">
  <div class="description">
    {{{signature}}}
  </div>

  <div class="snippet">
    <pre><code>{{sampleJSON}}</code></pre>
    <small class="notice"></small>
  </div>
</div>

