<div>
  <ul class="signature-nav">
    <li><a class="description-link" href="#">Model</a></li>
    <li><a class="snippet-link" href="#">Model Schema</a></li>
  </ul>
<div>

<div class="signature-container row">
  <div class="description col-sm-6">
      {{{signature}}}
  </div>
  <div class="snippet col-sm-6">
      <pre><code></code></pre>
      <large class="notice"></large>
  </div>
</div>

