@import "c-colors";

header.section-header {
  height: 40px;
  background: @clover-gray-90;
}

.app-header {
  background-color: @clover-gray-5;
  border-bottom: 1px solid @clover-gray-20;
  margin-bottom: 20px;
  margin-top: -20px;
  padding-top: 10px;

  .row {
    margin-bottom: 0;
  }

  .btn-group { // for import/export buttons in app-header. ex: inventory
    margin-top: 10px;
  }
}

.app-header-icon { // used: individual app headers
  height: 50px;
  margin-right: 15px;
  width: 50px;
}
