/**
 * specs.less
 * @adapted for Intapp Inc.
 * @author Aleksandr Tverdokhleb
 *
 */

.swagger-ui-wrap {

    width: @content-min-width;
    margin: auto;

    th, b, strong, label { font-weight: 600; }

    label { padding-right: 5px; }

    input[type='text'],
    input[type='password'],
    .input-swagger {
        border: solid @intappCG5 1px;
        color: @intappGrey;
        min-width: 155px;
        height: 25px;
        padding: 0 5px;
        font-size: 11px;

        &:focus { border-color: @intappBlue; }
    }

    select {
        .input-swagger;
        padding: 0 1px;
    }

    textarea {
        .input-swagger;
        height: 50px;
    }

    table {
        thead {
            tr {
                th {
                    position: relative;
                    border-bottom: 1px solid @intappLightGrey;
                    width: auto !important;
                    max-width: none !important;
                    padding: 5px 10px;
                    white-space: nowrap;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        border-left: 1px solid @intappLightGrey;
                        height: 11px;
                        margin-top: 3px;
                    }

                    &:first-child:before { display: none; }
                }
            }
        }

        tbody {
            tr {
                &.offset { background-color: #f0f0f0; }

                td {
                    border-bottom: 1px solid @intappLightGrey;
                    padding: 5px 10px;
                    vertical-align: top;
                }

                &:last-child {
                    td { border-bottom: none; }
                }
            }
        }
    }

    ol {
        margin: 0px 0 10px;
        padding: 0 0 0 18px;
        list-style-type: decimal;
        li {
            padding: 5px 0px;
            font-size: 0.9em;
            color: #333333;
        }
    }

    h1 {
        color: black;
        font-size: 1.5em;
        line-height: 1.3em;
        padding: 10px 0 10px 0;
        font-weight: bold;
    }

    h2 {
        color: @intappDarkGrey;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;

        a {
            color: inherit;
            &:hover { color: inherit; }
        }

        span.sub {
            color: #999999;
            font-style: italic;

            a { color: #777777; }
        }
    }

    h3 {}

    h1, h2, h3, h4, h5, h6 {
        span.divider { color: #aaaaaa; }
    }

    a {
        color: @intappCG1;
        &:hover { color: @intappCG7; }
    }

    pre {
        font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
        background-color: @intappWhite;
        border: solid @intappVeryLightGrey 1px;
        white-space: pre;

        code {
            display: block;
            padding: 5px;
            white-space: pre-wrap;
        }
    }

    .info {
        > * { display: none; }

        .info_title {
            padding-bottom: 10px;
            font-weight: bold;
            font-size: 25px;
        }

        .info_description {
            padding-bottom: 10px;
            font-size: 15px;
        }
    }

    ul#resources {

        li.resource {
            background-color: @intappWhite;
            border: solid @intappVeryLightGrey 1px;
            margin-bottom: 10px;
            padding: 20px 40px 20px 35px;

            &:last-child { margin-bottom: 0; }
            &:after { .clear-all; }

            div.heading {
                overflow: hidden;
                line-height: 20px;

                ul.options {
                    float: right;

                    li {
                        float: left;
                        border-right: solid @intappLightGrey 1px;
                        padding: 0 10px;
                        font-size: 13px;

                        &:last-child, &.last {
                            padding-right: 0;
                            border-right: none;
                        }
                    }
                }

                h2 { float: left; }
            }

            ul.endpoints {
                padding-top: 20px;

                li.endpoint {

                    ul.operations {

                        li.operation {
                            background-color: @intappVeryLightBlue;
                            margin-bottom: 10px;

                            div.heading {
                                overflow: hidden;
                                line-height: 30px;

                                h3 {
                                    float: left;

                                    > * {
                                        float: left;
                                        display: block;
                                    }

                                    span.http_method {
                                        a {
                                            display: block;
                                            color: @intappWhite;
                                            width: 50px;
                                            font-size: 11px;
                                            text-align: center;
                                            text-transform: uppercase;
                                        }
                                    }

                                    span.path {
                                        padding-left: 10px;
                                        font-size: 13px;

                                        a {
                                            color: @intappDarkGrey;
                                            &:hover { text-decoration: underline; }
                                        }
                                    }
                                }

                                ul.options {
                                    padding-right: 10px;
                                    font-size: 13px;
                                    font-weight: 600;

                                    li.access { color: black; }
                                }
                            }

                            div.content {
                                border-top: solid @intappVeryLightGrey 1px;
                                padding: 10px;

                                h4 {
                                    padding-bottom: 10px;
                                    font-size: 13px;
                                    font-weight: 600;
                                }

                                div.sandbox_header {
                                    padding-top: 5px;

                                    a { margin-left: 10px; }

                                    input.submit {
                                        background-color: @intappGreen;
                                        border: 0;
                                        border-radius: 3px;
                                        color: @intappWhite;
                                        height: 25px;
                                        padding: 0 10px;
                                        font-size: 12px;
                                        font-weight: 600;
                                        cursor: pointer;

                                        &:hover { background-color: @intappCG2; }
                                    }

                                    span.response_throbber {
                                        float: right;
                                        display: block;
                                        background-image: url('../images/throbber.gif');
                                        width: 128px;
                                        height: 16px;
                                        margin-top: 5px;
                                    }
                                }

                                form {
                                    input[type='text'].error { outline: 1px solid @intappRed; }
                                    select[name='parameterContentType'] { max-width:300px; }
                                }

                                div.response {
                                    div.block {
                                        pre {
                                            font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
                                            padding: 10px;
                                            font-size: 0.9em;
                                            max-height: 400px;
                                            overflow-y: auto;
                                        }
                                    }
                                }
                            }

                            &.delete {
                                div.heading {
                                    span.http_method {
                                        a { background-color: @intappRed; }
                                    }

                                    ul.options {
                                        li {
                                            color: @intappRed;
                                            a { color: inherit; }
                                        }
                                    }
                                }
                                div.content {
                                    h4 { color: @intappRed; }
                                }
                            }

                            &.patch {
                                div.heading {
                                    span.http_method {
                                        a { background-color: @intappSweetOrange; }
                                    }

                                    ul.options {
                                        li {
                                            color: @intappSweetOrange;
                                            a { color: inherit; }
                                        }
                                    }
                                }
                                div.content {
                                    h4 { color: @intappSweetOrange; }
                                }
                            }

                            &.get {
                                div.heading {
                                    span.http_method {
                                        a { background-color: @intappBlue; }
                                    }

                                    ul.options {
                                        li {
                                            color: @intappBlue;
                                            a { color: inherit; }
                                        }
                                    }
                                }
                                div.content {
                                    h4 { color: @intappBlue; }
                                }
                            }

                            &.post {
                                div.heading {
                                    span.http_method {
                                        a { background-color: @intappGreen; }
                                    }

                                    ul.options {
                                        li {
                                            color: @intappGreen;
                                            a { color: inherit; }
                                        }
                                    }
                                }
                                div.content {
                                    h4 { color: @intappGreen; }
                                }
                            }
                        }
                        li.operation.put {
                            div.heading {
                                    span.http_method {
                                        a { background-color: #c5862b; }
                                    }
                                ul.options {
                                    li {
                                        color: #c5862b;
                                        a { color: inherit; }
                                    }
                                }
                            }
                            div.content {
                                h4 { color: #c5862b; }
                            }
                        }
                        li.operation.head {
                            div.heading {
                                background-color: #fcffcd;
                                border: 1px solid black;
                                border-color: #ffd20f;
                                h3 {
                                    span.http_method {
                                        a {
                                            text-transform: uppercase;
                                            background-color: #ffd20f;
                                        }
                                    }
                                }
                                ul.options {
                                    li {
                                        border-right: 1px solid #dddddd;
                                        border-right-color: #ffd20f;
                                        color: #ffd20f;
                                        a {
                                            color: #ffd20f;
                                        }
                                    }
                                }
                            }
                            div.content {
                                background-color: #fcffcd;
                                border: 1px solid black;
                                border-color: #ffd20f;
                                h4 {
                                    color: #ffd20f;
                                }
                                div.sandbox_header {
                                    a {
                                        color: #6fc992;
                                    }
                                }
                            }
                        }
                        li.operation.options {
                            div.heading {
                                background-color: #e7f0f7;
                                border: 1px solid #c3d9ec;
                                h3 {
                                    span.http_method {
                                        a {
                                            background-color: #0f6ab4;
                                        }
                                    }
                                }
                                ul.options {
                                    li {
                                        border-right: 1px solid #dddddd;
                                        border-right-color: #c3d9ec;
                                        color: #0f6ab4;
                                        a {
                                            color: #0f6ab4;
                                        }
                                    }
                                }
                            }
                            div.content {
                                background-color: #ebf3f9;
                                border: 1px solid #c3d9ec;
                                h4 {
                                    color: #0f6ab4;
                                }
                                div.sandbox_header {
                                    a {
                                        color: #6fa5d2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .heading_with_menu {
        float: none;
        clear: both;
        overflow: hidden;
        display: block;

        h1, h2, h3, h4, h5, h6 {
            display: block;
            clear: none;
            float: left;
            width: 60%;
        }

        ul {
            display: block;
            clear: none;
            float: right;
            margin-top: 10px;
        }
    }

    .content {
        .markdown { padding-bottom: 5px; }

        & > .content-type {
            & > div {
                & > label {
                    clear: both;
                    display: block;
                    margin: 0;
                    padding: 15px 0 5px;
                }
            }
        }
    }

    .model-signature {
        .signature-nav {
            .selected {
                opacity: 0.5;
                color: @intappDarkGrey;
                cursor: default;
            }
        }

        pre {
            overflow: auto;
            max-height: 200px;

            &:hover { background-color: @intappCG9; }
        }

        ul.signature-nav {
            min-width: 230px;
            padding-bottom: 5px;

            &:after { .clear-all; }

            li {
                float: left;
                border-right: solid @intappVeryLightGrey 1px;
                padding: 0 5px;
                font-size: 12px;
                font-weight: 600;

                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }

                &:first-child { padding-left: 0; }
            }
        }

        .propType {
            color: #5555aa;
        }

        .propOpt {
            color: #555;
        }
        .snippet {
            small {
                font-size: 0.75em;
            }
        }
        .propOptKey {
            font-style: italic;
        }
        .description {
            .strong, .stronger { font-weight: 600; }
            div {
                font-size: 0.9em;
                line-height: 1.5em;
                margin-left: 1em;
            }
            .propWrap {
                .optionsWrapper {
                    border-spacing: 0;
                    position: absolute;
                    background-color: #ffffff;
                    border: 1px solid #bbbbbb;
                    display: none;
                    font-size: 11px;
                    max-width: 400px;
                    line-height: 30px;
                    color: black;
                    padding: 5px;
                    margin-left:10px;
                    th {
                        text-align: center;
                        background-color: #eeeeee;
                        border: 1px solid #bbbbbb;
                        font-size: 11px;
                        color: #666666;
                        font-weight: bold;
                        padding: 5px;
                        line-height: 15px;
                    }
                    .optionName {
                        font-weight: bold;
                    }
                }
            }
            .propDesc.markdown {
                > p:first-child,
                > p:last-child {
                    display: inline;
                }
                > p:not(:first-child):before {
                    display: block;
                    content: '';
                }
            }
            span:last-of-type.propDesc.markdown > p:only-child {
                margin-right: -3px; // otherwise there is a gap before the comma
            }
        }
        .propName { font-weight: 600; }

        .signature-container { clear: both; }
    }

    .parameter-content-type {
        label {
            display: block;
            padding-bottom: 5px;
        }
    }

    .icon-btn {
        cursor: pointer;
    }

    .footer {
        margin-top: 20px;
    }

    p.big, div.big p {
        font-size: 1em;
        margin-bottom: 10px;
    }

    form.fullwidth ol {
        li.string input, li.url input, li.text textarea, li.numeric input {
            width: 500px !important;
        }
    }

    .info_license {
        padding-bottom: 5px;
    }

    .info_tos {
        padding-bottom: 5px;
    }

    .message-fail {
        color: #cc0000;
    }

    .info_url {
        padding-bottom: 5px;
    }

    .info_email {
        padding-bottom: 5px;
    }

    .info_name { padding-bottom: 5px; }

    .markdown ol li, .markdown ul li {
        padding: 3px 0px;
        line-height: 1.4em;
        color: #333333;
    }

    form.formtastic fieldset.inputs ol {
        li.string input, li.url input, li.numeric input {
            display: block;
            padding: 4px;
            width: auto;
            clear: both;
        }
        li.string input.title,
        li.url input.title,
        li.numeric input.title {
            font-size: 1.3em;
        }
    }

    table.fullwidth {
        width: 100%;
        margin-bottom: 5px;
    }

    .body-textarea {
        width: 300px;
        height: 100px;
    }

    .markdown p code, .markdown li code {
        font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
        background-color: #f0f0f0;
        color: black;
        padding: 1px 3px;
    }

    /* JSONEditor specific styling */
    .editor_holder {
       font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
       font-size: 0.9em;
        label {
            font-weight:normal!important; /* JSONEditor uses bold by default for all labels, we revert that back to normal to not give the impression that by default fields are required */
        }
    }

    .editor_holder label.required {
        font-weight:bold!important;
    }

    input.parameter { width: 300px; }

    span.weak {
        color: #666666;
    }

    .message-success {
        color: #89BF04;
    }

    caption, th, td {
        text-align: left;
        vertical-align: middle;
    }

    .code { font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace; }

    form.formtastic {
        fieldset.inputs {
            ol {
                li.text {
                    textarea {
                        height: 250px;
                        padding: 4px;
                        display: block;
                        clear: both;
                    }
                }
                li.select {
                    select {
                        display: block;
                        clear: both;
                    }
                }
                li.boolean {
                    float: none;
                    clear: both;
                    overflow: hidden;
                    display: block;
                    label {
                        display: block;
                        float: left;
                        clear: none;
                        margin: 0;
                        padding: 0;
                    }
                    input {
                        display: block;
                        float: left;
                        clear: none;
                        margin: 0 5px 0 0;
                    }
                }
                li.required {
                    label {
                        color: black;
                    }
                }
                li {
                    label {
                        display: block;
                        clear: both;
                        width: auto;
                        padding: 0 0 3px;
                        color: #666666;
                        abbr {
                            padding-left: 3px;
                            color: #888888;
                        }
                    }
                    p.inline-hints {
                        margin-left: 0;
                        font-style: italic;
                        font-size: 0.9em;
                        margin: 0;
                    }
                }
            }
        }
        fieldset.buttons {
            margin: 0;
            padding: 0;
        }
    }

    span.blank, span.empty {
        color: #888888;
        font-style: italic;
    }

    .markdown {
        h3 {
            color: #547f00;
        }
        h4 {
            color: #666666;
        }
        pre {
            font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
            background-color: #fcf6db;
            border: 1px solid #e5e0c6;
            padding: 10px;
            margin: 0 0 10px 0;
            code {
                line-height: 1.6em;
                overflow: auto;
            }
        }
    }

    div.gist {
        margin: 20px 0 25px 0 !important;
    }

    p#colophon {
        margin: 0 15px 40px 15px;
        padding: 10px 0;
        font-size: 0.8em;
        border-top: 1px solid #dddddd;
        color: #999999;
        font-style: italic;
        a {
            text-decoration: none;
            color: #547f00;
        }
    }

    .markdown ol, .markdown ul {
        margin: 5px 0 10px;
        padding: 0 0 0 18px;
        list-style-type: disc;
    }

    form.form_box {
        background-color: #ebf3f9;
        border: 1px solid #c3d9ec;
        padding: 10px;
        label {
            color: #0f6ab4 !important;
        }
        input[type=submit] {
            display: block;
            padding: 10px;
        }
        p.weak {
            font-size: 0.8em;
        }
        p {
            font-size: 0.9em;
            padding: 0 0 15px;
            color: #7e7b6d;
            a {
                color: #646257;
            }
            strong {
                color: black;
            }
        }
    }

    .operation-status td.markdown > p:last-child { padding-bottom: 0; }
}