.swagger-ui-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    font-family: "Droid Sans", sans-serif;
    line-height: 1;

    h1, h2, h3, h4, h5, h6 {
        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .divider {
            color: #aaaaaa;
        }
    }

    p {
        line-height: 1.4em;
        padding: 0 0 10px;
        color: #333333;
    }

    a {
        color: #547f00;

        img {
            border: none;
        }
    }

    b, strong {
        font-family: "Droid Sans", sans-serif;
        font-weight: bold;
    }

    q, blockquote {
        quotes: none;

        &:before,
        &:after {
            content: none;
        }
    }

    caption, th, td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .fullwidth { // table
        width: 100%;

        .string input, .url input, .text textarea, .numeric input {
            width: 500px !important;
        }
    }

    .offset { // tr
        background-color: #f0f0f0;
    }

    .body-textarea {
        width: 300px;
        height: 100px;
        border: 1px solid #aaa;
    }

    .required {
        font-weight: bold;
    }

    .parameter {
        width: 300px;
        border: 1px solid #aaa;
    }

    .weak {
        color: #666666;
    }

    .code {
        font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    }

} // .swagger-ui-wrap

h1 {
    .swagger-ui-wrap & {
        color: black;
        font-size: 1.5em;
        line-height: 1.3em;
        padding: 10px 0 10px 0;
        font-family: "Droid Sans", sans-serif;
        font-weight: bold;
    }
}

h2 {
    .swagger-ui-wrap & {
        color: black;
        font-size: 1.3em;
        padding: 10px 0 10px 0;

        a {
            color: black;
        }

        .sub {
            font-size: 0.7em;
            color: #999999;
            font-style: italic;

            a {
                color: #777777;
            }
        }
    }
}

h3 {
    .swagger-ui-wrap & {
        color: black;
        font-size: 1.1em;
        padding: 10px 0 10px 0;
    }

    .markdown & {
        color: #547f00;
    }
}

h4 {
    .markdown & {
        color: #666666;
    }
}

th {
    .swagger-ui-wrap & {
        padding: 5px;
        font-size: 0.9em;
        color: #666666;
        border-bottom: 1px solid #999999;
    }

    .model-signature & { // .model-signature .description .propWrap .optionsWrapper
        text-align: center;
        background-color: #eeeeee;
        border: 1px solid #bbbbbb;
        font-size: 11px;
        color: #666666;
        font-weight: bold;
        padding: 5px;
        line-height: 15px;
    }
}

td {
    .swagger-ui-wrap & {
        padding: 6px;
        font-size: 0.9em;
        border-bottom: 1px solid #cccccc;
        vertical-align: top;
        line-height: 1.3em;
    }

    tr:last-child & {
        border-bottom: none;
        vertical-align: top;
    }
}

ol, ul {  // .swagger-list
    .swagger-ui-wrap & {
        list-style: none;
    }

    .markdown & {
        font-family: "Droid Sans", sans-serif;
        margin: 5px 0 10px;
        padding: 0 0 0 18px;
        list-style-type: disc;
    }
}

ol {
    .swagger-ui-wrap & {
        margin: 0px 0 10px;
        padding: 0 0 0 18px;
        list-style-type: decimal;

        li {
            padding: 5px 0px;
            font-size: 0.9em;
            color: #333333;
        }
    }
}

li {
    .markdown & {
        padding: 3px 0px;
        line-height: 1.4em;
        color: #333333;
    }
}

pre { // .pre
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;

    .swagger-ui-wrap & {
        background-color: #fcf6db;
        border: 1px solid #e5e0c6;
        padding: 10px;
    }

    .model-signature & {
        font-size: .85em;
        line-height: 1.2em;
        overflow: auto;
        max-height: 200px;
        cursor: pointer;

        &:hover {
            background-color: #ffffdd;
        }
    }

    .content & {
        margin-top: 5px;
        padding: 5px;
    }

    .response & {
        padding: 10px;
        font-size: 0.9em;
        max-height: 400px;
        overflow-y: auto;
    }

    .markdown & {
        background-color: #fcf6db;
        border: 1px solid #e5e0c6;
        padding: 10px;
        margin: 0 0 10px 0;
    }
}

code { // .code
    line-height: 1.6em;

    .swagger-ui-wrap & {
        background: none;
    }

    .markdown & {
        padding: 1px 3px;
        color: black;
        background-color: #f0f0f0;
        line-height: 1.6em;
    }
}

#message-bar { }

.swagger-message-success {
    color: #89BF04;
}

.swagger-message-fail {
    color: #cc0000;
}

.swagger-info {
    .markdown {

    }

    p {

    }

    a {

    }
} // .info

#api_info {

}

.swagger-info-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

.swagger-info-description {
    padding-bottom: 10px;
    font-size: 15px;

    .swagger-info-title + & {

    }
}

.swagger-info-tos {
    padding-bottom: 5px;

    .swagger-info-title ~ & {

    }

    .swagger-info-description + & {

    }
}

.swagger-info-name {
    padding-bottom: 5px;
}

.swagger-info-url {
    padding-bottom: 5px;
}

.swagger-info-email {
    padding-bottom: 5px;
}

.swagger-info-license {
    padding-bottom: 5px;
}



.formtastic { // form
    // .inputs { // fieldset
        // li {
            label {
                display: block;
                clear: both;
                width: auto;
                padding: 0 0 3px;
                color: #666666;

                abbr {
                    padding-left: 3px;
                    color: #888888;
                }
            }

            .inline-hints { // p
                margin-left: 0;
                font-style: italic;
                font-size: 0.9em;
                margin: 0;
            }
        // }

        .text { // li
            textarea {
                font-family: "Droid Sans", sans-serif;
                height: 250px;
                padding: 4px;
                display: block;
                clear: both;
            }
        }

        .select { // li
            select {
                display: block;
                clear: both;
            }
        }

        .boolean { // li
            float: none;
            clear: both;
            overflow: hidden;
            display: block;

            label {
                display: block;
                float: left;
                clear: none;
                margin: 0;
                padding: 0;
            }

            input {
                display: block;
                float: left;
                clear: none;
                margin: 0 5px 0 0;
            }
        }

        .required { // li
            label {
                color: black;
            }
        }

        .string input, .url input, .numeric input { // li
            display: block;
            padding: 4px;
            width: auto;
            clear: both;

            .title {
                font-size: 1.3em;
            }
        }

    // }

    .buttons { // fieldset
        margin: 0;
        padding: 0;
    }

} // .formtastic



.model-signature {
    font-family: "Droid Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5em;

    .propType {
        color: #5555aa;
    }

    .propOpt {
        color: #555;
    }

    .snippet {
        small {
            font-size: 0.75em;
        }
    }

    .propOptKey {
        font-style: italic;
    }

    .propName {
        font-weight: bold;
    }

    .signature-container {
        clear: both;
    }
} // .model-signature

.signature-nav {
    display: block;
    margin: 0;
    padding: 0;

    li {
        float: left;
        margin: 0 5px 5px 0;
        padding: 2px 5px 2px 0;
        border-right: 1px solid #ddd;

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }

    a {
        text-decoration: none;
        color: #AAA;

        &:hover {
            text-decoration: underline;
            color: black;
        }
    }

    .selected {
        color: black;
        text-decoration: none;
    }
} // .signature-nav

.description {
    .model-signature & {
        .strong {
            font-weight: bold;
            color: #000;
            font-size: .9em;
        }

        div {
            font-size: 0.9em;
            line-height: 1.5em;
            margin-left: 1em;
        }

        .stronger {
            font-weight: bold;
            color: #000;
        }

        // .propWrap {
            .optionsWrapper {
                border-spacing: 0;
                position: absolute;
                background-color: #ffffff;
                border: 1px solid #bbbbbb;
                display: none;
                font-size: 11px;
                max-width: 400px;
                line-height: 30px;
                color: black;
                padding: 5px;
                margin-left:10px;

                // th {
                //     text-align: center;
                //     background-color: #eeeeee;
                //     border: 1px solid #bbbbbb;
                //     font-size: 11px;
                //     color: #666666;
                //     font-weight: bold;
                //     padding: 5px;
                //     line-height: 15px;
                // }

                .optionName {
                    font-weight: bold;
                }
            }
        // }
    }
} // .description


#swagger-resources { // ul
    font-family: "Droid Sans", sans-serif;
    font-size: 0.9em;

    .resource { // li

    }
}

.resource { // li.swagger-resource
    border-bottom: 1px solid #dddddd;

    &:hover, // div
    &.active { // div
        .options a { // ul
            color: #555555;
        }
    }

    &:last-child {
        border-bottom: none;
    }

    .options li { // ul
        a:hover, a:active, a.active {
            text-decoration: underline;
        }

        &:first-child,
        &.first {
            padding-left: 0;
        }

    }

    &:first-child, &.first {
        padding-left: 0;
    }
} // .resource

.swagger-operations {

}

.swagger-operation {
    &.get, &.post, &.head, &.put, &.patch, &.delete {
        .content { // div
            border-top: none;
        }

        .heading .options li { // div ul
            &:last-child, &.last {
                padding-right: 0;
                border-right: none;
            }
        }
    }
}

.heading { // .swagger-heading
    .resource & {
        border: 1px solid transparent;
        float: none;
        clear: both;
        overflow: hidden;
        display: block;

        h2 {
            color: #999999;
            padding-left: 0;
            display: block;
            clear: none;
            float: left;
            font-family: "Droid Sans", sans-serif;
            font-weight: bold;

            a {
                color: #999999;

                &:hover {
                    color: black;
                }
            }
        }
    }

    .resource:hover &,
    .resource.active & {
        a {
            color: black;
        }
    }

    .swagger-operation & {
        float: none;
        clear: both;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        h3 {
            display: block;
            clear: none;
            float: left;
            width: auto;
            margin: 0;
            padding: 0;
            line-height: 1.1em;
            color: black;
        }

        .http_method { // span
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: white !important;
                display: inline-block;
                width: 50px;
                font-size: 0.7em;
                text-align: center;
                padding: 7px 0 4px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                -o-border-radius: 2px;
                -ms-border-radius: 2px;
                -khtml-border-radius: 2px;
                border-radius: 2px;
            }
        }
    }

    .swagger-operation.put & {
        background-color: #f9f2e9;
        border: 1px solid #f0e0ca;

        .http_method a {
            background-color: #c5862b;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #f0e0ca;
            color: #c5862b;
        }

        a {
            color: #c5862b;
        }
    }

    .swagger-operation.head & {
        background-color: #fcffcd;
        border: 1px solid black;
        border-color: #ffd20f;

        .http_method a {
            text-transform: uppercase;
            background-color: #ffd20f;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #ffd20f;
            color: #ffd20f;
        }

        a {
            color: #ffd20f;
        }
    }

    .swagger-operation.delete & {
        background-color: #f5e8e8;
        border: 1px solid #e8c6c7;

        .http_method a {
            text-transform: uppercase;
            background-color: #a41e22;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #e8c6c7;
            color: #a41e22;
        }

        a {
            color: #a41e22;
        }
    }

    .swagger-operation.post & {
        background-color: #e7f6ec;
        border: 1px solid #c3e8d1;

        .http_method a {
            background-color: #10a54a;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #c3e8d1;
            color: #10a54a;
        }

        a {
            color: #10a54a;
        }
    }

    .swagger-operation.patch & {
        background-color: #FCE9E3;
        border: 1px solid #F5D5C3;

        .http_method a {
            background-color: #D38042;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #f0cecb;
            color: #D38042;
        }

        a {
            color: #D38042;
        }
    }

    .swagger-operation.get & {
        background-color: #e7f0f7;
        border: 1px solid #c3d9ec;

        .http_method a {
            background-color: #0f6ab4;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #c3d9ec;
            color: #0f6ab4;
        }

        a {
            color: #0f6ab4;
        }
    }

    .swagger-operation.options & {
        background-color: #e7f0f7;
        border: 1px solid #c3d9ec;

        .http_method a {
            background-color: #0f6ab4;
        }

        li {
            border-right: 1px solid #dddddd;
            border-right-color: #c3d9ec;
            color: #0f6ab4;
        }

        a {
            color: #0f6ab4;
        }
    }
} // .heading

.options { // ul
    .heading & {
        overflow: hidden;
        padding: 0;
        display: block;
        clear: none;
        float: right;
        margin: 14px 10px 0 0;

        .swagger-operation & {
            margin: 6px 10px 0 0;

            li {
                float: left;
                clear: none;
                margin: 0;
                padding: 2px 10px;
                font-size: 0.9em;
            }

            a {
                text-decoration: none;
            }

            .access { // li
                color: black;
            }
        }
    }

    li {
        float: left;
        clear: none;
        margin: 0;
        padding: 2px 10px;
        border-right: 1px solid #dddddd;
        color: #666666;
        font-size: 0.9em;

        &:first-child,
        &.first {
            padding-left: 0;
        }

        &:last-child, &.last {
            padding-right: 0;
            border-right: none;
        }
    }

    a {
        color: #aaaaaa;
        text-decoration: none;

        &:hover, &:active, &.active {
            text-decoration: underline;
        }

        &:hover {
            color: black;
        }
    }

    &:first-child, &.first {
        padding-left: 0;
    }
} // .options

.endpoints { // ul.swagger-endpoints
    .resource & {

    }
} // .endpoints

.endpoint { // li.swagger-endpoint
    .endpoints & {

    }

    .resource & {

    }
} // .endpoint

.swagger-operations { // ul.swagger-operations
    .endpoint & {

    }

    .resource & {

    }
} // .swagger-operations

.swagger-operation { // li.swagger-operation
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
    padding: 0;

    .swagger-operations & {

    }

    .path {
        padding-left: 10px;

        a {
            color: black !important;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

} // .swagger-operation

.content {
    .swagger-operation & {
        border: 1px solid;
        border-top: none;
        padding: 10px;
        -moz-border-radius-bottomleft: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -o-border-bottom-left-radius: 6px;
        -ms-border-bottom-left-radius: 6px;
        -khtml-border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -o-border-bottom-right-radius: 6px;
        -ms-border-bottom-right-radius: 6px;
        -khtml-border-bottom-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin: 0 0 20px;

        h4 {
            font-size: 1.1em;
            margin: 0;
            padding: 15px 0 5px;
        }

        .error { // input[type='text']
            outline: 2px solid black;
            outline-color: #cc0000;
        }
    }

    .swagger-operation.put & {
        background-color: #faf5ee;
        border: 1px solid #f0e0ca;

        h4 {
            color: #c5862b;
        }
    }

    .swagger-operation.head & {
        background-color: #fcffcd;
        border-color: #ffd20f;

        h4 {
            color: #ffd20f;
        }
    }

    .swagger-operation.delete & {
        background-color: #f7eded;
        border-color: #e8c6c7;

        h4 {
            color: #a41e22;
        }
    }

    .swagger-operation.post & {
        background-color: #ebf7f0;
        border-color: #c3e8d1;

        h4 {
            color: #10a54a;
        }
    }

    .swagger-operation.patch & {
        background-color: #faf0ef;
        border-color: #f0cecb;

        h4 {
            color: #D38042;
        }
    }

    .swagger-operation.get & {
        background-color: #ebf3f9;
        border-color: #c3d9ec;

        h4 {
            color: #0f6ab4;
        }
    }

    .swagger-operation.options & {
        background-color: #ebf3f9;
        border-color: #c3d9ec;

        h4 {
            color: #0f6ab4;
        }
    }

} // .content

.sandbox_header { // .swagger-sandbox
    .content & {

    }

    .swagger-operation & {
        float: none;
        clear: both;
        overflow: hidden;
        display: block;

        a {
            padding: 4px 0 0 10px;
            display: inline-block;
            font-size: 0.9em;
        }

    }

    .swagger-operation.put & {
        a {
            color: #dcb67f;

        }
    }

    .swagger-operation.header & {
        a {
            color: #6fc992;
        }
    }

    .swagger-operation.delete & {
        a {
            color: #c8787a;
        }
    }

    .swagger-operation.post & {
        a {
            color: #6fc992;
        }
    }

    .swagger-operation.patch & {
        a {
            color: #dcb67f;
        }
    }

    .swagger-operation.get {
        a {
            color: #6fa5d2;
        }
    }

    .swagger-operation.option {
        a {
            color: #6fa5d2;
        }
    }

    .submit { // input
        display: block;
        clear: none;
        float: left;
        padding: 6px 8px;
    }

} // .sandbox_header

.response_throbber {
    background-image: url('../images/throbber.gif');
    width: 128px;
    height: 16px;
    display: block;
    clear: none;
    float: right;
}

.response { // .swagger-response
    .swagger-operation & {

    }
} // .response