.auth-container
{
    padding: 1.2em 2em 2em 2em;

    border-bottom: 1px solid $auth-container-border-color;

    &:last-of-type
    {
        border: 0;
    } 

    .auth__description
    {
        padding: 0 0 2.4em 0;

        div {
            padding: 0 0 1.2em 0;
            
            p {
                @include light_text($size: $md-text-font-size);
            }
        }
    }

    .auth__header {
        padding: 0 0 2em 0;
    }

    .auth__row {
        padding: 0 0 1.2em 0;
    }

    .auth__row--form {
        padding: 0 0 1.2em 0;
        display: flex;
        align-items: center;
        width: fit-content;
    
        > label {
            margin: 0 .5em 0 0;
            min-width: 7em;

            > span {
                @include light_text($size: $sm-text-font-size);
            }
        }
    }

    .auth__row--scopes
    {
        &.auth__row--form > label {
            align-self: flex-start;
            margin-top: .3em;
        }
    }

    code
    {
        color: $auth-container-code-font-color;
        background: $auth-container-code-background-color;
    }

    input[type=text],
    input[type=password]
    {
        min-width: 230px;
    }

    .auth__error
    {
        border-radius: 4px;
        margin: 0 0 1.2em 0;
        padding: .5em;
        background-color: lighten($color-danger, 60%);

        &__title {
            margin-right: 1em;

            b {
                text-transform: "capitalize";
                
                @include mono_text($color: $color-danger);
            }
        }
        &__message {

            span {
                @include mono_text($color: $color-danger);
            }
        }
    }
}