.auth-btn-wrapper
{
    display: flex;

    padding: 10px 0;

    justify-content: center;

    button
    {
        &:first-of-type
        {
            margin-right: 2em;
        }

        &:last-of-type
        {
            margin-right: 0;
        }

    }
}

.auth-container
{
    margin: 0 0 10px 0;
    padding: 10px 20px;

    border-bottom: 1px solid $auth-container-border-color;

    &:last-of-type
    {
        margin: 0;
        padding: 10px 20px;

        border: 0;
    }

    h4
    {
        margin: 5px 0 15px 0 !important;
    }

    code
    {
        color: $auth-container-code-font-color;
        background: $auth-container-code-background-color;
    }

    .wrapper
    {
        margin: 0;
        padding: 0;
    }

    input[type=text],
    input[type=password]
    {
        min-width: 230px;
    }

    .errors
    {
        font-size: 12px;

        padding: 10px;

        border-radius: 4px;

        @include text_code();
    }
}

.scopes
{
    h2
    {
        font-size: 14px;

        @include text_headline();
    }
}

.scope-def
{
    padding: 0 0 20px 0;
}