
.sui-btn
{
    height: 3em;
    border-radius: 4px;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    
    padding: 0 2em;
    
    transition: all .3s;

    > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    > span {
        font-size: 1.4em;
    }
}

.sui-btn--sm 
{
    height: auto;
    padding: .5em 1em;

    > span {
        font-size: 13px;
    }
}

.sui-btn--primary
{
    border: none;
    background: $color-primary;
    color: #fff;

    &:hover
    {
        background: alter-hue($color-primary)
    }
}

.sui-btn--secondary
{
    border: none;
    background: $color-secondary;
    color: #fff;

    &:hover
    {
        background: alter-hue($color-secondary)
    }
}

.sui-btn--tertiary-lt
{
    background: transparent;
    border: 1px solid $color-secondary;
    color: $color-secondary;
}

.sui-btn--tertiary-dk
{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.sui-btn-transparent
{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

.sui-btn--authorize
{
    svg
    {
        fill: #fff
    }
}


.sui-btn-wrapper
{
    button
    {
        &:first-child
        {
            margin-right: 2em;
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}

.sui-btn-group
{
    display: flex;

    button
    {
        border-radius: 0;

        &:first-child
        {
            border-radius: 4px 0 0 4px;
        }

        &:last-child
        {
            border-radius: 0 4px 4px 0;
        }
    }
}

button
{
    cursor: pointer;
    outline: none;
    font-family: $alt-text-font-family;

    &.invalid
    {
        @include invalidFormElement();
    }
}
