
.sui-btn
{
    height: 3em;
    border-radius: 4px;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    
    padding: 0 2em;
    
    transition: all .3s;

    > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    > span {
        font-size: $md-text-font-size;
    }
}

.sui-btn--sm 
{
    height: auto;
    padding: .5em 1em;

    > span {
        font-size: 13px;
    }
}

.sui-btn--primary
{
    border: none;
    background: $color-primary;
    color: #fff;

    &:hover
    {
        background: alter-hue($color-primary)
    }
}

.sui-btn--secondary
{
    border: none;
    background: $color-secondary;
    color: #fff;

    &:hover
    {
        background: alter-hue($color-secondary)
    }
}

.sui-btn--tertiary-lt
{
    background: transparent;
    border: 1px solid $color-secondary;
    color: $color-secondary;
}

.sui-btn--tertiary-dk
{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.sui-btn-transparent
{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

.expand-operation__icon {
    font-size: 1.25rem;
    color: $color-secondary;
}

.sui-btn-transparent__icon--unlocked {
    color: $color-secondary;
    opacity: .5;
    font-size: .9375rem;
}

.sui-btn-transparent__icon--locked {
    color: $color-primary;
    font-size: .9375rem;
}

.sui-btn--authorize__icon--unlocked {
    opacity: .7;
    color: #fff;
}

.sui-btn--authorize__icon--locked {
    color: $color-primary;
}

.sui-btn-wrapper
{
    display: flex;
    justify-content: flex-end;

    button
    {
        flex-grow: 0;
        margin-right: .5em;

        &:last-child
        {
            margin-right: 0;
        }
    }
}

.sui-btn-group
{
    display: flex;

    button
    {
        border-radius: 0;

        &:first-child
        {
            border-radius: 4px 0 0 4px;
        }

        &:last-child
        {
            border-radius: 0 4px 4px 0;
        }
    }
}


.sui-btn-group--tryitout
{
    padding: 20px;
}

button
{
    cursor: pointer;
    outline: none;
    font-family: $medium_text-font-family;

    &.invalid
    {
        @include invalidFormElement();
    }
}
