
.sui-btn
{
    border-radius: 4px;
    flex: 1;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;

    > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.sui-btn--sm 
{
    height: auto;
    font-size: 13px;
    padding: 5px 10px;
}

.sui-btn--primary
{
    border: none;
    background: $color-primary;
    color: #fff;

    &:hover
    {
        background: alter-hue($color-primary)
    }
}

.sui-btn--secondary
{
    border: none;
    background: $color-secondary;
    color: #fff;

    &:hover
    {
        background: alter-hue($color-secondary)
    }
}

.sui-btn--ghost-lt
{
    background: transparent;
    border: 1px solid $color-secondary;
    color: $color-secondary;
}

.sui-btn--ghost-dk
{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.sui-btn-transparent
{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

.sui-btn-wrapper
{
    .button
    {
        &:first-child
        {
            margin-right: 20px;
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}

.sui-btn-group
{
    display: flex;

    .sui-btn-group__btn
    {
        border-radius: 0;

        &:first-child
        {
            border-radius: 4px 0 0 4px;
        }

        &:last-child
        {
            border-radius: 0 4px 4px 0;
        }
    }
}

button
{
    cursor: pointer;
    outline: none;
    font-family: $alt-text-font-family;

    &.invalid
    {
        @include invalidFormElement();
    }
}
