// Methods
$_color-post: #31b569;
$_color-get: #31b4b5;
$_color-put: #f6bc29;
$_color-delete: #ec707f;
$_color-head: #9012fe;
$_color-patch: #50e3c2;
$_color-disabled: #ebebeb;
$_color-options: #0d5aa7;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
