// Methods
$_color-post: #49cc90;
$_color-get: #61affe;
$_color-put: #fca130;
$_color-delete: #f93e3e;
$_color-head: #9012fe;
$_color-patch: #50e3c2;
$_color-disabled: #ebebeb;
$_color-options: #0d5aa7;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
