.sui-dropdown {
	position: relative;
	display: inline-block;

	&__menu {
		display: none;
		position: absolute;
		z-index: 1;
		margin: 0;

		&__item {
			display: block;
			
			a {
				color: green;
				&:focus {
					color: red;
				}
			}
		}
	}
}

.sui-dropdown--expanded {

	.sui-dropdown__menu {
		display: block;
	}
}