.sui-dropdown {
	background: $color-white;
	position: relative;
	display: inline-block;
	min-width: 11em;

	&__button {
		height: 3em;
		border-radius: .4em;
		border: 1px solid $color-bright-silver;
		background: inherit;
		padding: 0 .5em 0 1.5em;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	
		span {
			@include medium_text();

			&:first-of-type {
				margin-right: .5em;
			}
		}
	}

	&__menu {
		display: none;
	}
}

.sui-dropdown--expanded {

	.sui-dropdown__menu {
		background: inherit;
		position: absolute;
		display: block;
		list-style: none;
		width: fit-content;
		min-width: 100%;
		padding: 0;
		margin: .1em 0;

		&__item {
			margin: 0;
			padding: 0 1.5em;
			width: max-content;
			min-width: 100%;
			height: 3em;
			display: flex;
			align-items: center;
			border: 1px solid $color-bright-silver;
			border-top: none;
			cursor: pointer;

			div {
				@include medium_text();
			}

			&:not(.sui-dropdown__menu__item--disabled) {

				&:hover, &:focus {
					background: alter-hue($color-white, 5%);
				}
			}

			&:focus {
				outline: none;
			}

			&:first-child {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				border-top: 1px solid $color-bright-silver;
			}

			&:last-child {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
	}
}

.sui-dropdown--schemes {
	* {
		text-transform: uppercase;
	}
}
