.errors-wrapper
{
    margin: 20px;
    padding: 10px 20px;

    animation: scaleUp .5s;

    border: 2px solid $errors-wrapper-border-color;
    border-radius: 4px;
    background: $errors-wrapper-background-color;

    .error-wrapper
    {
        margin: 0 0 10px 0;
    }

    .errors
    {
        h4
        {
            margin: 0;

            @include mono_text($size: $md-text-font-size);
        }

        small
        {
          color: $errors-wrapper-errors-small-font-color;
        }
    }

    hgroup
    {
        display: flex;

        align-items: center;

        h4
        {
            margin: 0;

            flex: 1;
            @include text_headline($size: $xl-text-font-size);
        }
    }
}


@keyframes scaleUp
{
    0%
    {
        transform: scale(.8);

        opacity: 0;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}
