.feature-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .feature-item {
    width: 100%;
    .seperator {
      width: 100%;
      border-bottom: 1px solid rgba(59,65,81,.2);
      height: 15px;
      margin-bottom: 15px;
    }
    .feature-item-option {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px;
      font-family: sans-serif;
      font-size: 100%;
      line-height: 1.15;
      color: #3b4151;
      margin: 0;
      font-weight: 400;
      .feature-item-option-checkbox {
        margin-right: 5px;
      }
      .feature-item-detail {
        h4 {
          margin-bottom: 5px;
          margin-top: 0;
        }
        .requestSnippets {
          .checkbox {
            margin-left: 15px;
          }
        }
        margin-left: 15px;
      }
    }
  }
  .modal-actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
