.info
{
    margin: 0 0 2em 0;

    hgroup.main
    {
        margin: 0 0 1em 0;
        a
        {
            @include regular_text($color: $info-link-font-color);
        }
    }
    
    p, li, table
    {
        @include regular_text($size: 1.4em);

        a {
            @include inline-link-text();
        }
    }

    div > a, a.info__extdocs.link
    {

        transition: all .4s;

        @include regular_text($color: $info-link-font-color);

        &:hover
        {
            color: $info-link-font-color--hover;
        }
    }
    > div
    {
        margin: 0 0 .5em 0;

        &.description {
            margin: 0 0 2em 0;
        }
    }

    .base-url
    {
        margin: 0;

        @include regular_text();
    }

    .title
    {
        margin-bottom: 1em;

        > span {
            @include light_text($size: $xxl-text-font-size);
        }

        small
        {

            position: relative;
            top: -5px;

            display: inline-block;

            margin: 0 0 0 5px;
            padding: 2px 4px;

            vertical-align: super;

            border-radius: 57px;
            background: $info-title-small-background-color;

            pre
            {
                margin: 0;
                padding: 0;

                @include regular_text($color: $color-white, $size: $xs-text-font-size);
            }
        }
    }
}
