.info
{
    margin: 50px 0;

    hgroup.main
    {
        margin: 0 0 20px 0;
        a
        {
            @include regular_text($color: $info-link-font-color);
        }
    }
    pre
    {
        font-size: 14px;
    }
    p, li, table
    {
        @include regular_text($size: 1.4em);
    }

    h1, h2, h3, h4, h5
    {
        @include text_body();
    }

    div > a, a.info__extdocs.link
    {

        transition: all .4s;

        @include regular_text($color: $info-link-font-color,$size:1.4em);

        &:hover
        {
            color: darken($info-link-font-color-hover, 15%);
        }
    }
    > div
    {
        margin: 0 0 5px 0;
    }

    .base-url
    {
        margin: 0;

        @include regular_text();
    }

    .title
    {
        font-size: 36px;
        margin: 0;

        @include text_title();

        small
        {
            font-size: 10px;

            position: relative;
            top: -5px;

            display: inline-block;

            margin: 0 0 0 5px;
            padding: 2px 4px;

            vertical-align: super;

            border-radius: 57px;
            background: $info-title-small-background-color;

            pre
            {
                margin: 0;
                padding: 0;

                @include regular_text($info-title-small-pre-font-color,$info-title-small-pre-font-size);
            }
        }
    }
}
