.wrapper
{
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box;
}

.opblock-tag-section
{
    display: flex;
    flex-direction: column;
}

@mixin method($color, $color--light: mix($color, $color_white, 8%))
{
    border-color: $color--light;
    background: $color--light;

    .opblock-summary-method
    {
        background: $color;
    }

    .tabitem.active {
        background: $color--light;
    }

    // This just gives a general idea of where the colors go. The components targeted will need to be refactored. 
    .body-param, 
    .highlight-code, 
    .model-box, 
    .headers, 
    .curl, 
    pre {
        background: $color--light;
    }
}

.opblock-tag
{
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: all .2s;

    padding: 1.5em 0;

    border-bottom: 1px solid $opblock-tag-border-bottom-color;

    &:hover
    {
        background: $opblock-tag-background-color--hover;
    }

    a.nostyle
    {
      @include text_title($size: $opblock-tag-h4-font-size);
    }

    &.no-desc
    {
        span
        {
            flex: 1;
        }
    }

    svg
    {
        transition: all .4s;
    }

    small
    {
        flex: 1;
        padding: 0 10px;

        .markdown
        {
            @include light_text($size: 1.4em);
        }

        .opblock-tag__info-link
        {
            @include regular-text();
        }

        a
        {
            @include inline-link-text();
        }
    }
}

.parameter__type
{

    padding: 5px 0;

    @include text_code();
}

.view-line-link
{
    position: relative;
    top: 3px;

    width: 20px;
    margin: 0 5px;

    cursor: pointer;
    transition: all .5s;
}



.opblock
{
    margin: 0 0 1em 0;

    border: 1px solid $opblock-border-color;
    border-radius: 4px;

    .tab-header
    {
        display: flex;

        flex: 1;

        .tab-item
        {
            padding: 0 40px;

            cursor: pointer;

            &:first-of-type
            {
                padding: 0 40px 0 0;
            }
            &.active
            {
                h4
                {
                    span
                    {
                        position: relative;
                        color: $opblock-header-tab-title-font-color--active;


                        &:after
                        {
                            position: absolute;
                            bottom: -15px;
                            left: 50%;

                            width: 120%;
                            height: 4px;

                            content: '';
                            transform: translateX(-50%);

                            background: $opblock-header-tab-title-background-color--active;
                        }
                    }
                }
            }
        }
    }

    .opblock-section-header
    {
        display: flex;
        align-items: center;

        padding: 8px 20px;

        min-height: 50px;

        > label
        {

            display: flex;
            align-items: center;

            margin: 0;
            margin-left: auto;

            
            > span
            {
                @include label_text();
                padding: 0 10px 0 0;
            }
        }

        h4
        {

            flex: 1;

            margin: 0;

            @include text_title($size: $xl-text-font-size);
        }
    }

    .opblock-summary-method
    {

        min-width: 8em;
        padding: .6em 1.5em;

        height: 3em;
        min-width: 8em;

        border-radius: 3px;
        background: $opblock-summary-method-background-color;

        display: flex;
        justify-content: center;
        align-items: center;

        > span
        {
            @include medium_text($color: $opblock-summary-method-font-color, $weight: 500);
        }

    }

    .opblock-summary-path,
    .opblock-summary-operation-id,
    .opblock-summary-path__deprecated
    {


        display: flex;
        align-items: center;

        word-break: break-word;

        padding: 0 10px;
        a.nostyle > span
        {
            @include medium_text($size: $sm-text-font-size, $weight: 500)

        }

    }

    .opblock-summary-path__deprecated
    {
        text-decoration: line-through;
    }

    .opblock-summary-operation-id
    {
        font-size: $md-text-font-size;
    }

    .opblock-summary-description
    {
        flex: 1 1 auto;

        word-break: break-word;

        @include label_text();
    }

    .opblock-summary
    {
        display: flex;
        align-items: center;

        padding: .5em 1em .5em .5em;

        cursor: pointer;

        .view-line-link
        {
            position: relative;
            top: 2px;

            width: 0;
            margin: 0;

            cursor: pointer;
            transition: all .5s;
        }

        &:hover
        {
            .view-line-link
            {
                width: 18px;
                margin: 0 5px;
            }
        }
    }

    

    .authorization__btn
    {
        &.locked
        {
            opacity: 1;
        }

        &.unlocked
        {
            opacity: .4;
        }
    }




    &.opblock-post
    {
        @include method($_color-post);
    }

    &.opblock-put
    {
        @include method($_color-put);
    }

    &.opblock-delete
    {
        @include method($_color-delete);
    }

    &.opblock-get
    {
        @include method($_color-get);
    }

    &.opblock-patch
    {
        @include method($_color-patch);
    }

    &.opblock-head
    {
        @include method($_color-head);
    }

    &.opblock-options
    {
        @include method($_color-options);
    }

    &.opblock-deprecated
    {
        @include method($_color-disabled, $_color-disabled--light);
    }

    .opblock-schemes
    {
        padding: 8px 20px;

        .schemes-title
        {
            padding: 0 10px 0 0;
        }
    }

    &.is-open
    {
        background-color: $opblock-background-color--open;
        border-color: $opblock-border-color--open;
    }
}

.filter
{
    .operation-filter-input
    {
        width: 100%;
        margin: 20px 0;
        padding: 10px 10px;

        border: 2px solid $operational-filter-input-border-color;

        @include regular-text();
    }
}


.tab
{
    display: flex;

    margin: 20px 0 10px 0;
    padding: 0;

    list-style: none;

    li
    {
        min-width: 60px;
        padding: 0;

        cursor: pointer;

        @include text_headline($size: $sm-text-font-size);

        &:first-of-type
        {
            position: relative;

            padding-left: 0;
            padding-right: 12px;
        }
    }
}

.opblock-description-wrapper,
.opblock-external-docs-wrapper,
.opblock-title_normal
{
    font-size: 12px;

    margin: 0 0 5px 0;
    padding: 15px 20px;

    @include text_body();

    h4
    {

        margin: 0 0 5px 0;

        @include regular_text();
    }

    p
    {


        @include regular_text();
    }
}

.opblock-external-docs-wrapper {
  h4 {
    padding-left: 0px;
  }
}

.execute-wrapper
{
    padding: 20px;
    display: flex;
}

.body-param-options
{
    display: flex;
    flex-direction: column;

    .body-param-edit
    {
        padding: 10px 0;
    }

    label
    {
        padding: 8px 0;
        select
        {
            margin: 3px 0 0 0;
        }
    }
}

.responses-inner
{
    padding: 20px;

    h5,
    h4
    {
        margin: 10px 0 5px 0;

        @include regular_text();
    }
}

.response-col_status
{

    @include regular_text();

    .response-undocumented
    {

        @include text_code($color: $response-col-status-undocumented-font-color, $size: 1.1em);
    }
}

.response-col_links
{
    padding-left: 2em;
    max-width: 40em;
    @include regular_text();

    .response-undocumented
    {

        @include text_code($color: $response-col-links-font-color, $size: 1.1em);
    }
}

.response-col_description__inner
{
    div.markdown, div.renderedMarkdown
    {
        font-style: italic;

        display: block;

        margin: 0;
        padding: 10px;

        border-radius: 4px;

        @include text_code($response-col-description-inner-markdown-font-color);

        p
        {
            margin: 0;
            @include text_code($response-col-description-inner-markdown-font-color);
        }

        a
        {
            @include text_code($response-col-description-inner-markdown-link-font-color);
            text-decoration: underline;
            &:hover {
                color: $response-col-description-inner-markdown-link-font-color--hover;
            }
        }

        th
        {
            @include text_code($response-col-description-inner-markdown-font-color);
            border-bottom: 1px solid $response-col-description-inner-markdown-font-color;
        }
    }
}

.opblock-body
{

  .opblock-loading-animation
  {
    display: block;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
  }
}

.opblock-body pre
{

    margin: 0;
    padding: 10px;

    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;

    border-radius: 4px;

    overflow-wrap: break-word;
    @include text_code();

    .headerline
    {
        display: block;
    }
}

.highlight-code {
  position: relative;

  > .microlight {
    overflow-y: auto;
    max-height: 400px;
    min-height: 6em;
  }
}

.download-contents {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background: $download-contents-background-color;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: 600;
  color: $download-contents-font-color;
  font-size: $md-text-font-size;
  height: 30px;
  width: 75px;
}

.scheme-container
{
    margin: 0 0 .5em 0;
    padding: 2em 0;

    background: $scheme-container-background-color;
    border-bottom: 1px solid $scheme-container-border-color;

    .schemes
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

         > label
        {
            font-weight: bold;

            display: flex;
            flex-direction: column;

            margin: -20px 15px 0 0;

            select
            {
                min-width: 130px;

                text-transform: uppercase;
            }
        }
    }
}

.loading-container
{
    padding: 40px 0 60px;
    margin-top: 1em;
    min-height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loading
    {
        position: relative;


        &:after
        {
            font-weight: bold;

            position: absolute;
            top: 50%;
            left: 50%;

            content: 'loading';
            transform: translate(-50%,-50%);
            text-transform: uppercase;

            @include text_headline($size: 1em);
        }

        &:before
        {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            width: 60px;
            height: 60px;
            margin: -30px -30px;

            content: '';
            animation: rotation 1s infinite linear, opacity .5s;

            opacity: 1;
            border: 2px solid $loading-container-before-border-color;
            border-top-color: $loading-container-before-border-top-color;
            border-radius: 100%;

            backface-visibility: hidden;

            @keyframes rotation
            {
                to
                {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.response-content-type {
  padding-top: 1em;

  &.controls-accept-header {
    select {
      border-color: $response-content-type-controls-accept-header-select-border-color;
    }

    small {
      color: $response-content-type-controls-accept-header-small-font-color;
      font-size: .7em;
    }
  }
}

@keyframes blinker
{
    50%
    {
        opacity: 0;
    }
}


section
{
    h3
    {
        @include text_headline();
    }
}

a.nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  display: inline;

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
}

.version-pragma {
  height: 100%;
  padding: 5em 0px;

  &__message {
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
    padding: 0px .6em;

    > div
    {
      max-width: 55ch;
      flex: 1;
    }

    code
    {
      background-color: $version-pragma-message-code-background-color;
      padding: 4px 4px 2px;
      white-space: pre;
    }
  }
}
