.leftbar
{
    padding: 10px 0;
    margin-top: 45px;


    .load-url-wrapper
    {
        // display: flex;
        // flex: 3;
        // justify-content: flex-end;

        input[type=text]
        {
            width: 100%;
            margin: 0;

            border: 2px solid $topbar-download-url-wrapper-element-border-color;
            border-radius: 4px 0 0 4px;
            outline: none;
        }

        .load-url-button
        {
            font-size: 16px;
            font-weight: bold;

            padding: 4px 30px;
            width: 100%;
            margin: 20px 0 0 0;
            height: 40px;

            border: none;
            border-radius: 4px;
            background: $topbar-download-url-button-background-color;

            @include text_headline($topbar-download-url-button-font-color);
        }
    }
}
