.markdown, .renderedMarkdown {
  p, pre {
    @include regular_text($size: $md-text-font-size-rem)
  }

  li {
    @include regular_text($size: $md-text-font-size-rem)
  }

  p {
    margin-bottom: 2em;
  }
  pre {
    color: $markdown-pre-font-color;
    font-weight: normal;
    white-space: pre-wrap;
    background: none;
    padding: 0px;
  }

  code {
    padding: .3125rem .4375rem;
    border-radius: 4px;
    background: $markdown-code-background-color;

    @include mono_text($color: $markdown-code-font-color, $size: $md-text-font-size-rem);
  }

  h2 {
    @include light_text($size: $lg-text-font-size-rem);
  }

  pre > code {
    display: block;
  }
}