.markdown, .renderedMarkdown {
  p, pre {
    margin: 10px auto;
  }
  pre {
    color: $markdown-pre-font-color;
    font-weight: normalpo;
    white-space: pre-wrap;
    background: none;
    padding: 0px;
  }

  code {
    padding: 5px 7px;
    border-radius: 4px;
    background: $markdown-code-background-color;

    @include text_code($color: $markdown-code-font-color, $size: 100%);
  }

  pre > code {
    display: block;
  }
}