.dialog-ux
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .backdrop-ux
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: $dialog-ux-backdrop-background-color;
    }

    .modal-ux
    {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;

        width: 100%;
        min-width: 300px;
        max-width: 650px;

        transform: translate(-50%,-50%);

        border: 1px solid $dialog-ux-modal-border-color;
        border-radius: 4px;
        background: $dialog-ux-modal-background-color;
    }

    .modal-ux-content
    {
        overflow-y: auto;

        max-height: 540px;
        padding: 20px;

        p
        {

            margin: 0 0 5px 0;

            @include regular_text($size: $xs-text-font-size);
        }

        h4
        {
            font-weight: 600;

            margin: 15px 0 0 0;
            @include light_text($size: $xl-text-font-size);
        }
    }

    .modal-ux-header
    {
        display: flex;

        padding: 12px 0;

        border-bottom: 1px solid $dialog-ux-modal-header-border-bottom-color;

        align-items: center;

        .close-modal
        {
            color: $dialog-ux-modal-close-button-font-color;
            padding: 0 10px;

            border: none;
            background: none;

            appearance: none;
        }


        h3
        {
            font-weight: 600;
            margin: 0;
            padding: 0 20px;

            flex: 1;
            @include regular_text($size: $xl-text-font-size);
        }
    }
}
