.sui-modal
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .sui-modal__backdrop
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: $sui-modal-backdrop-background-color;
    }

    .sui-modal__card
    {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;

        width: 100%;
        min-width: 300px;
        max-width: 650px;

        transform: translate(-50%,-50%);

        border: 1px solid $sui-modal-border-color;
        border-radius: 4px;
        background: $sui-modal-background-color;
    }

    .sui-modal__content
    {
        overflow-y: auto;

        max-height: 540px;
        padding: 20px;

        p, h5
        {

            margin: 0 0 5px 0;

            @include light_text($size: $sm-text-font-size);
        }

        h4
        {
            @include bold_text($size: $xl-text-font-size);
        }
    }

    .sui-modal__header
    {
        display: flex;

        padding: 12px 0;

        border-bottom: 1px solid $sui-modal-header-border-bottom-color;

        align-items: center;

        .sui-modal__close
        {
            color: $sui-modal-close-button-font-color;
            padding: 0 10px;

            border: none;
            background: none;

            appearance: none;
        }


        h3
        {
            margin: 0;
            // padding: 0 20px;

            flex: 1;
            @include bold_text($size: 1.8em);
        }
    }
}
