.sui-modal
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .sui-modal__backdrop
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: $sui-modal-backdrop-background-color;
    }

    .sui-modal__card
    {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;

        width: 100%;
        min-width: 300px;
        max-width: 650px;
        height: 100%;
        max-height: 75em;
        
        display: flex;
        flex-direction: column;

        transform: translate(-50%,-50%);

        border: 1px solid $sui-modal-border-color;
        border-radius: 4px;
        background: $sui-modal-background-color;
    }

    .sui-modal__content
    {
        overflow-y: auto;

        p, h5, h6, .markdown
        {
            @include light_text($size: $sm-text-font-size);
        }

        h4
        {
            @include bold_text($size: 1.8em);
        }

        input {
            @include medium_text();
        }
    }

    .sui-modal__header
    {
        display: flex;

        padding: 2em 2em 1.2em 2em;

        border-bottom: 1px solid $sui-modal-header-border-bottom-color;

        align-items: center;

        .sui-modal__close
        {
            color: $color-secondary;
            font-size: $md-icon-font-size;
            border: none;
            background: none;

            appearance: none;
        }


        h3
        {
            flex: 1;
            @include bold_text($size: 1.8em);
        }
    }
}
