.model
{
    font-weight: 300;

    td
    { 
        @include mono_text();
    }

    .deprecated
    {
        span,
        td
        {
            color: $model-deprecated-font-color !important;
        }

        > td:first-of-type {
            text-decoration: line-through;
        }
    }
    &-toggle
    {
        font-size: $xs-text-font-size;

        position: relative;
        display: inline-block;
        top: .1875rem;
        margin: auto .1875rem;

        cursor: pointer;
        transition: transform .15s ease-in;
        transform: rotate(90deg);
        transform-origin: 50% 50%;

        &.collapsed
        {
            transform: rotate(0deg);
        }
    }

    &-jump-to-path
    {
        position: relative;

        cursor: pointer;

        .view-line-link
        {
            position: absolute;
            top: -.4em;

            cursor: pointer;
        }
    }

    &-title
    {
        position: relative;

        &:hover .model-hint
        {
            visibility: visible;
        }
    }

    &-hint
    {
        position: absolute;
        top: -1.8em;

        visibility: hidden;

        padding: .1em .5em;

        white-space: nowrap;

        color: $model-hint-font-color;
        border-radius: 4px;
        background: $model-hint-background-color;
    }

    p
    {
        margin: 0 0 1em 0;
    }
}


section.models
{
    padding: 1.5em 0;
    border-radius: 4px;

    h4
    {
        &:hover {
            background: $section-models-h4-background-color--hover;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;
        transition: all .2s;

        
        svg
        {
            transition: all .4s;
        }
        
        span
        {
            flex: 1;
            @include light_text($size: $xl-text-font-size);
        }
    }

    h5
    {
        margin: 0 0 10px 0;

        @include regular_text();
    }

    .model-jump-to-path
    {
        position: relative;
        top: 5px;
    }

    .model-container
    {
        margin: 1em 0;
        position: relative;

        transition: all .5s;

        border-radius: 4px;
        background: $section-models-model-container-background-color;

        &:first-of-type {
            margin-top: 1.5em;
        }

        .models-jump-to-path {
          position: absolute;
          top: 8px;
          right: 5px;
          opacity: 0.65;
        }
    }

    .model-box
    {
        background: none;
    }
}


.model-box
{
    padding: .5rem;
    display: inline-block;

    border-radius: 4px;
    background: $section-models-model-box-background-color;

    .model-jump-to-path
    {
        position: relative;
        top: 4px;
    }

    &.deprecated
    {
        opacity: .5;
    }
}


.model-title
{

    @include medium_text($size: $lg-text-font-size);
}

.model-deprecated-warning
{
    font-weight: 600;

    margin-right: 1em;

    @include regular_text($color: $model-deprecated-warning-font-color);
}


span
{
     > span.model
    {
        .brace-close
        {
            padding: 0 0 0 10px;
        }
    }
}

.prop-name
{
    display: inline-block;

    margin-right: 1em;
}

.prop-type
{
    color: $prop-type-font-color;
}

.prop-enum
{
    display: block;
}
.prop-format
{
    color: $prop-format-font-color;
}
