.servers
{
     > label
    {
        font-size: 12px;

        margin: -20px 15px 0 0;

        @include text_headline();

        select
        {
            min-width: 130px;
            max-width: 100%;
        }
    }

    h4.message {
      padding-bottom: 2em;
    }

    table {
        tr {
            width: 30em;
        }
        td {
            display: inline-block;
            max-width: 15em;
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;

            &:first-of-type {
              padding-right: 2em;
            }

            input {
                width: 100%;
                height: 100%;
            }
        }
    }

    .computed-url {
      margin: 2em 0;

      code {
        display: inline-block;
        padding: 4px;
        font-size: 16px;
        margin: 0 1em;
      }
    }
}


.global-server-container
{
    margin: 0 0 20px 0;
    padding: 30px 0;

    background: $server-container-background-color;
    box-shadow: 0 1px 2px 0 rgba($server-container-box-shadow-color,.15);

    .servers-title {
      line-height: 2em;
      font-weight: bold;
    }
}

.operation-servers {
  h4.message {
    margin-bottom: 2em;
  }
}
