.servers
{
     > label
    {


        .sui-dropdown
        {
            min-width: 13em;
            max-width: 100%;
        }
    }

    h4.message {
      padding-bottom: 2em;
    }

    table {
        tr {
            width: 30em;
        }
        td {
            display: inline-block;
            max-width: 15em;
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;

            &:first-of-type {
              padding-right: 2em;
            }

            input {
                width: 100%;
                height: 100%;
            }
        }
    }

    .computed-url {

      span:first-child {
        display: block;
        @include light_text($size: $sm-text-font-size);
      }

      code {
        display: block;
        padding: 4px 0;
        @include mono_text($size: $sm-text-font-size, $color: $color-primary );
      }
    }
}

.servers-title {
    @include light_text($size: $sm-text-font-size);
}

.operation-servers {
  h4.message {
    margin-bottom: 2em;
  }
}

label > span {
  display: block;
  margin-bottom: 5px;
}
