.servers
{
    .servers__control
    {
      display: block;
      margin-top: 1.5em;
    }

     > label
    {
        margin-top: 0;

        .sui-dropdown
        {
            min-width: 13em;
            max-width: 100%;
        }
    }

    label > span {
      display: block;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    h4.message {
      padding-bottom: 2em;
    }

    .computed-url {

      margin-top: 1.5em;

      span:first-child {
        display: block;
        @include light_text($size: $sm-text-font-size);
      }

      code {
        display: block;
        padding: 4px 0;
        @include mono_text($size: $sm-text-font-size, $color: $color-primary );
      }
    }
}

.servers-title {
    @include light_text($size: $sm-text-font-size);
}

.operation-servers {
  h4.message {
    margin-bottom: 2em;
  }
}