table
{
    width: 100%;
    padding: 0 10px;

    border-collapse: collapse;

    &.model
    {
        tbody
        {
            tr
            {
                td
                {
                    padding: 0;

                    vertical-align: top;

                    &:first-of-type
                    {
                        width: 174px;
                        padding: 0 0 0 2em;
                    }
                }
            }
        }
    }

    &.headers
    {
        td
        {
            font-weight: 300;

            vertical-align: middle;

            @include mono_text();
        }
    }

    tbody
    {
        tr
        {
            td
            {
                padding: 10px 0 0 0;

                vertical-align: top;

                &:first-of-type
                {
                    max-width: 20%;
                    min-width: 6em;
                    padding: 10px 0;
                }
            }
        }
    }

    thead
    {
        tr
        {
            th,
            td
            {
                font-weight: bold;

                padding: 12px 0;

                text-align: left;

                @include regular_text($size: $xs-text-font-size);
            }
        }
    }
}

.parameters-col_description
{
    input[type=text]
    {
        width: 100%;
        max-width: 340px;
    }

    select {
        border-width: 1px;
    }

    div.markdown {
        @include light_text()
    }
}

.parameter__name
{
    @include bold_text();

    .parameter__name
    {

        &:after
        {

            position: relative;
            top: -6px;

            padding: 5px;


            color: $table-parameter-name-required-font-color;
        }
    }
}

.parameter__in,
.parameter__extension
{
    font-style: italic;

    @include mono_text();
}

.parameter__deprecated
{
    font-style: italic;

    @include mono_text($table-parameter-deprecated-font-color);
}

.parameter__empty_value_toggle {
    font-size: $sm-text-font-size;
    padding-top: 5px;
    padding-bottom: 12px;

    input {
        margin-right: 7px;
    }

    &.disabled {
        opacity: 0.7;
    }
}


.table-container
{
    padding: 20px;
}
