table
{
    width: 100%;
    padding: 0 10px;

    border-collapse: collapse;

    &.model
    {
        tbody
        {
            tr
            {
                td
                {
                    padding: 0;

                    vertical-align: top;

                    &:first-of-type
                    {
                        width: 100px;
                        padding: 0;
                    }
                }
            }
        }
    }

    &.headers
    {
        td
        {
            font-size: 12px;
            font-weight: 300;

            vertical-align: middle;

            @include text_code();
        }
    }

    tbody
    {
        tr
        {
            td
            {
                padding: 10px 0 0 0;

                vertical-align: top;

                &:first-of-type
                {
                    width: 20%;
                    padding: 10px 0;
                }
            }
        }
    }

    thead
    {
        tr
        {
            th,
            td
            {
                font-size: 12px;
                font-weight: bold;

                padding: 12px 0;

                text-align: left;

                border-bottom: 1px solid rgba(#3b4151, .2);

                @include text_body();
            }
        }
    }
}

.parameters-col_description
{
    p
    {
        font-size: 14px;

        margin: 0;

        @include text_body();
    }

    input[type=text]
    {
        width: 100%;
        max-width: 340px;
    }
}

.parameter__name
{
    font-size: 16px;
    font-weight: normal;

    @include text_headline();

    &.required
    {
        font-weight: bold;

        &:after
        {
            font-size: 10px;

            position: relative;
            top: -6px;

            padding: 5px;

            content: 'required';

            color: rgba(#f00, .6);
        }
    }
}

.parameter__in
{
    font-size: 12px;
    font-style: italic;

    @include text_code(#888);
}


.table-container
{
    padding: 20px;
}
