.topbar {
  padding: 20px 0 20px 30px;
  color: white;
  background: linear-gradient(-40deg,#080823,#080823 30%,#080823 50%,#080823 70%,#18255e);

  .wrapper {
    padding-right: 0;
    margin: 0;
  }
  .topbar-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .link-logo {
      height: 40px;
    }
  }
}

ol {
  position: absolute;
  right: 350px;
  top: 9px;
  margin: 0;
  list-style-type: none;
  font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 300;
  color: #eee;
}
ol a {
  display:block;
  font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 300;
  color: #eee;
  text-decoration:none;
}
ol > li {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
}
ol > li:hover > a {
  color: #f1af11;
}
ol > li > ul {
  background-color: #080823;
  width: 300px;
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  list-style-type:none;
  padding:0 20px;
  margin: 0;
  padding-top: 30px;
  z-index: 100;
}
ol > li > ul > li {
  padding: 15px 0;
}
ol > li > ul > li:hover a {
  color: #f1af11;
}
ol > li:hover > ul {
  display: block;
}

.list-down {
  position: relative;
  padding-right: 36px;
}
.list-down::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  transform: rotate(45deg);
}
.list-down:hover::after {
    border-right: 2px solid #f1af11;
    border-bottom: 2px solid #f1af11;
}
.active-bar {
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 110px;
  height: 4px;
  background: #f1af11;
}

.right-buttons {
  position: absolute;
  right: 0;
  margin: 0;
  list-style-type: none;
  font-family: Rubik, sans-serif;
      font-weight: 500;
  z-index:101;
}
.green-btn {
  color: #eee;
  font-size: 17px;
  border-radius: 20px;
  background-color: #009b6b;
  padding: 9px 24px;
  display: inline-block;
  margin: 0 10px;
}
.blue-btn {
  color: #eee;
  font-size: 17px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #366adc;
  padding: 9px 24px;
  display: inline-block;
  margin: 0;
}
.blue-btn:hover {
  background-color: rgb(28, 167, 237);
}
.green-btn:hover {
  background-color: rgb(8, 197, 110);
}

@media screen and (max-width: 1200px) {
  .topbar {
    ol {
      display: none;
    }
  }
}
