.topbar
{
    padding: 8px 175px;

    background-color: #89bf04;
    .topbar-wrapper
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a
    {
        font-size: 1.5em;
        font-weight: bold;

        display: flex;
        align-items: center;
        flex: 1;

        max-width: 300px;

        text-decoration: none;

        @include text_headline(#fff);

        span
        {
            margin: 0;
            padding: 0 10px;
        }
    }

    .download-url-wrapper
    {
        display: flex;
        flex: 3;
        justify-content: flex-end;

        input[type=text]
        {
            width: 100%;
            min-width: 350px;
            margin: 0;

            border: 2px solid #547f00;
            border-radius: 4px 0 0 4px;
            outline: none;
        }

        .select-label
        {
            display: flex;
            align-items: center;

            width: 100%;
            max-width: 600px;
            margin: 0;
            span
            {
                font-size: 16px;

                flex: 1;

                padding: 0 10px 0 0;

                text-align: right;
            }

            select
            {
                flex: 2;

                width: 100%;

                border: 2px solid #547f00;
                outline: none;
                box-shadow: none;
            }
        }


        .download-url-button
        {
            font-size: 16px;
            font-weight: bold;

            padding: 4px 40px;

            border: none;
            border-radius: 0 4px 4px 0;
            background: #547f00;

            @include text_headline(#fff);
        }
    }

    img {
      user-select: none;
    }

    .app-logo {
        height: 30px;
    }

    .email-copyright {
        display: flex;
        color: #fafafa;
        align-items: center;

        .email-container {
            display: flex;
            margin-right: 20px;
            align-items: center;

            .email-icon {
                height: 14px;
                padding: 0 5px;
            }

            a {
                font-size: 1em;
                font-weight: normal;
                font-style: normal;
                font-family: inherit;
                text-decoration: none;
            }
        }

        .copyright-container {
            display: flex;
            align-items: center;

            .copyright-logo {
                height: 18px;
                padding: 0 5px;
            }
        }
    }
}
