.topbar
{
    padding: 1em 0;
    margin: 0 0 2em 0;

    background-color: $topbar-background-color;

    .topbar-wrapper
    {
        display: flex;
        align-items: center;
    }
    a
    {
        font-size: 1.5em;
        font-weight: bold;

        display: flex;
        align-items: center;
        flex: 1;

        max-width: 300px;

        text-decoration: none;

        @include regular_text($topbar-link-font-color);

        span
        {
            margin: 0;
            padding: 0 10px;
        }
    }

    .download-url-wrapper
    {
        display: flex;
        flex: 3;
        justify-content: flex-end;

        input[type=text]
        {
            width: 100%;
            margin: 0;
            background: $topbar-download-url-input-background-color;
            border: 2px solid $topbar-download-url-wrapper-element-border-color;
            border-radius: 4px 0 0 4px;
            outline: none;
            @include regular_text();
        }

        .select-label
        {
            display: flex;
            align-items: center;

            width: 100%;
            max-width: 600px;
            margin: 0;
            color: $topbar-download-url-label-font-color;
            span
            {
                font-size: $lg-text-font-size;

                flex: 1;

                padding: 0 10px 0 0;

                text-align: right;
            }

            select
            {
                flex: 2;

                width: 100%;

                border: 2px solid $topbar-download-url-wrapper-element-border-color;
                outline: none;
                box-shadow: none;
                background: $topbar-download-url-wrapper-element-background-color;
            }
        }


        .download-url-button
        {
            height: auto;
            
            font-weight: bold;
            height: auto;

            padding: 4px 30px;

            border: none;
            border-radius: 0 4px 4px 0;
        }
    }
}
