
@mixin light_text($color: $color-type--default, $size: $md-text-font-size, $weight: $light-text-font-weight) {
    font-family: $light-text-font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin regular_text($color: $color-type--default, $size: $md-text-font-size, $weight: $regular-text-font-weight)
{
    font-family: $regular-text-font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin medium_text($color: $color-type--default, $size: $md-text-font-size, $weight: $medium-text-font-weight)
{
    font-family: $medium-text-font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin bold_text($color: $color-type--default, $size: $md-text-font-size, $weight: $bold-text-font-weight)
{
    font-family: $bold-text-font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}


@mixin mono_text($color: $color-type--default, $size: $sm-text-font-size, $weight: $regular-text-font-weight)
{
  font-family: $mono-text-font-family;
  font-size: $size;
  color: $color;
}



@mixin label_text($color: $color-type--default, $size: $sm-text-font-size)
{
    font-family: $light-text-font-family;
    font-weight: 300;
    font-size: $size;
    color: $color;
}

@mixin inline-link-text($color: $link-text-font-color)
{
    font-size: inherit;
    color: $color;
}

h1, h2, h3, h4, h5, h6, p, pre, label, small {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
