@mixin text_body($color: $default-grey-font-color, $weight: $regular-text-font-weight, $size: $md-text-font-size)
{
    font-family: $regular-text-font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin text_title($color: $default-grey-font-color, $size: $xxl-text-font-size)
{
    font-family: $light-text-font-family;
    font-size: $size;
    font-weight: $light-text-font-weight;
    color: $color;
}

@mixin text_code($color: $default-grey-font-color, $size: $sm-text-font-size)
{
  font-family: $mono-text-font-family;
  font-size: $size;
  color: $color;
}

@mixin text_headline($color: $default-grey-font-color, $size: $lg-text-font-size)
{
    font-family: $regular-text-font-family;
    font-size: $size;
    color: $color;
}

@mixin light_text($color: $default-grey-font-color, $size: $md-text-font-size) {
    font-family: $light-text-font-family;
    font-weight: 300;
    font-size: $size;
    color: $color;
}

@mixin regular_text($color: $default-grey-font-color, $size: $md-text-font-size, $family: $regular-text-font-family)
{
    font-family: $family;
    font-size: $size;
    color: $color;
}

@mixin bold_text($color: $default-grey-font-color, $size: $md-text-font-size)
{
    font-family: $bold-text-font-family;
    font-weight: 700;
    font-size: $size;
    color: $color;
}

@mixin alt_text($color: $default-grey-font-color, $size: $md-text-font-size, $weight: $bold-text-font-weight)
{
    font-family: $medium-text-font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin label_text($color: $default-grey-font-color, $size: $sm-text-font-size)
{
    font-family: $light-text-font-family;
    font-weight: 300;
    font-size: $size;
    color: $color;
}

@mixin inline-link-text($color: $link-text-font-color)
{
    font-size: inherit;
    color: $color;
}

h1, h2, h3, h4, h5, h6, p, pre, label, small {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
