$colors: (
  '$replace': true,
  'primary': #89bf04,
  'secondary': #9012fe,
  'info': #4990e2,
  'warning': #ff6060,
  'danger': #f00,
  'post': #49cc90,
  'get': #61affe,
  'put': #fca130,
  'delete': #f93e3e,
  'head': #9012fe,
  'patch': #50e3c2,
  'disabled': #ebebeb,
  'options': #0d5aa7,
);

$ct-themes: (
  'default': (
    'brightness': 'light',
    'bg-main': #f9f9f9,
    'colors': $colors,
  ),
  'default-dark': (
    'brightness': 'dark',
    'colors': $colors,
    'bg-main': #201f1f,
  ),
);

$ct-compute-rgb-variables: true;

@import '../../node_modules/css-theming/src/scss/pure';

// Base Colours
$black: #000;
$white: #fff;
$gray-50: lighten($black, 92%); //ebebeb
$gray-200: lighten($black, 62.75%); // #a0a0a0
$gray-300: lighten($black, 56.5%); // #909090
$gray-400: lighten($black, 50%); // #808080
$gray-500: lighten($black, 43.75%); // #707070
$gray-600: lighten($black, 37.5%); // #606060
$gray-650: lighten($black, 33.3%); // #555555
$gray-700: lighten($black, 31.25%); // #505050
$gray-800: lighten($black, 25%); // #404040
$gray-900: lighten($black, 18.75%); // #303030

$bright-gray: #3b4151;
$mako-gray: #41444e;
$waterloo-gray: #7d8492;
$alto-gray: #d9d9d9;
$concrete-gray: #e8e8e8;
$apple-green: #62a03f;
$japanese-laurel: #008000;
$geyser-blue: #d8dde7;
$scampi-purple: #55a;

// Theme

$color-primary: var(--primary) !default;
$color-secondary: var(--secondary) !default;
$color-info: var(--info) !default;
$color-warning: var(--warning) !default;
$color-danger: var(--danger) !default;

$_color-post: var(--post) !default;
$_color-get: var(--get) !default;
$_color-put: var(--put) !default;
$_color-delete: var(--delete) !default;
$_color-head: var(--head) !default;
$_color-patch: var(--patch) !default;
$_color-disabled: var(--disabled) !default;
$_color-options: var(--options) !default;

// Authorize

$auth-container-border-color: $gray-50 !default;
$auth-select-all-none-link-font-color: $color-info !default;
// Buttons

$btn-background-color: transparent !default;
$btn-border-color: $gray-400 !default;
$btn-font-color: inherit !default;
$btn-box-shadow-color: $black !default;

$btn-authorize-background-color: transparent !default;
$btn-authorize-border-color: $_color-post !default;
$btn-authorize-font-color: $_color-post !default;
$btn-authorize-svg-fill-color: $_color-post !default;

$btn-cancel-background-color: transparent !default;
$btn-cancel-border-color: $color-warning !default;
$btn-cancel-font-color: $color-warning !default;

$btn-execute-background-color: transparent !default;
$btn-execute-border-color: $color-info !default;
$btn-execute-font-color: $white !default;
$btn-execute-background-color-alt: $color-info !default;

$expand-methods-svg-fill-color: var(--text-color-secondary) !default;
$expand-methods-svg-fill-color-hover: var(--text-color) !default;

// Errors

$errors-wrapper-background-color: $_color-delete !default;
$errors-wrapper-border-color: $_color-delete !default;

$errors-wrapper-errors-small-font-color: $gray-600 !default;

// Form

$form-select-background-color: var(--input-bg) !default;
$form-select-border-color: var(--bd) !default;
$form-select-box-shadow-color: $black !default;

$form-input-border-color: var(--bd) !default;
$form-input-background-color: var(--input-bg) !default;

$form-textarea-background-color: var(--input-bg) !default;
$form-textarea-focus-border-color: $_color-get !default;

$form-textarea-curl-background-color: $mako-gray !default;
$form-textarea-curl-font-color: $white !default;

$form-checkbox-label-font-color: $gray-900 !default;
$form-checkbox-background-color: $concrete-gray !default;
$form-checkbox-box-shadow-color: $concrete-gray !default;

// Information

$info-code-background-color: $black !default;
$info-code-font-color: $_color-head !default;

$info-link-font-color: $color-info !default;
$info-link-font-color-darken: var(--info-600) !default;

$info-title-small-background-color: $waterloo-gray !default;

$info-title-small-pre-font-color: $white !default;

// Layout

$opblock-border-color: $black !default;
$opblock-box-shadow-color: $black !default;

$opblock-tag-border-bottom-color: $bright-gray !default;
$opblock-tag-background-color-hover: $black !default;

$opblock-tab-header-tab-item-active-h4-span-after-background-color: $gray-400 !default;

$opblock-isopen-summary-border-bottom-color: $black !default;

$opblock-isopen-section-header-background-color: $white !default;
$opblock-isopen-section-header-box-shadow-color: $black !default;

$opblock-summary-method-background-color: $black !default;
$opblock-summary-method-font-color: $white !default;
$opblock-summary-method-text-shadow-color: $black !default;

$operational-filter-input-border-color: $geyser-blue !default;

$tab-list-item-first-background-color: $black !default;

$response-col-status-undocumented-font-color: $gray-300 !default;

$response-col-links-font-color: $gray-300 !default;

$opblock-body-background-color: $mako-gray !default;
$opblock-body-font-color: $white !default;

$scheme-container-background-color: var(--fg-0) !default;
$scheme-container-box-shadow-color: $black !default;

$server-container-background-color: $white !default;
$server-container-box-shadow-color: $black !default;

$server-container-computed-url-code-font-color: $gray-400 !default;

$loading-container-before-border-color: $gray-650 !default;
$loading-container-before-border-top-color: $black !default;

$response-content-type-controls-accept-header-select-border-color: $japanese-laurel !default;
$response-content-type-controls-accept-header-small-font-color: $japanese-laurel !default;

// Modal

$dialog-ux-backdrop-background-color: $black !default;


$dialog-ux-modal-background-color: var(--fg-0) !default;
$dialog-ux-modal-border-color: var(--bd) !default;
$dialog-ux-modal-box-shadow-color: $black !default;

$dialog-ux-modal-content-font-color: var(--text-color) !default;

$dialog-ux-modal-header-border-bottom-color: var(--bd-focus) !default;

// Models

$model-deprecated-font-color: $gray-200 !default;

$model-hint-font-color: $gray-50 !default;
$model-hint-background-color: $black !default;

$section-models-border-color: $bright-gray !default;

$section-models-isopen-h4-border-bottom-color: $section-models-border-color !default;

$section-models-h4-font-color: $gray-600 !default;
$section-models-h4-background-color-hover: $black !default;

$section-models-h5-font-color: $gray-500 !default;

$section-models-model-container-background-color: $black !default;

$section-models-model-box-background-color: $black !default;

$section-models-model-title-font-color: $gray-700 !default;

$prop-type-font-color: $scampi-purple !default;

$prop-format-font-color: var(--text-color-secondary) !default;

// Tables

$table-thead-td-border-bottom-color: $bright-gray !default;

$table-parameter-name-required-font-color: $color-danger !default;

$table-parameter-in-font-color: var(--text-color-secondary) !default;

$table-parameter-deprecated-font-color: $color-danger !default;

// Topbar

$topbar-background-color: #1b1b1b !default;

$topbar-link-font-color: $white !default;

$topbar-download-url-wrapper-element-border-color: $apple-green !default;

$topbar-download-url-button-background-color: $apple-green !default;
$topbar-download-url-button-font-color: $white !default;

// Type

$text-body-default-font-color: var(--text-color) !default;
$text-code-default-font-color: var(--text-color) !default;
$text-headline-default-font-color: var(--text-color) !default;
