// Base Colours

$color-black: #000;
$color-white: #fff;
$color-cod-gray: #1b1b1b;
$color-mine-shaft: #333333;
$color-waterloo-gray: #7d8492;
$color-bright-silver: #c8c8c8;
$color-silver: #cbcbcb;
$color-alto-gray: #d7d7d7;
$color-iron-gray: #d9d9db;
$color-mercury-gray: #e4e4e4;
$color-alabaster: #fafafa;
$color-wild-sand: #f5f5f5;
$color-mantis-green: #57c534;
$color-apple-green: #62a03f;
$color-vida-loca: #49a32b;
$color-green-haze: #009d77;
$color-japanese-laurel: #008000;
$color-persian-green: #00a0a7;
$color-havelock-blue: #4990e2;
$color-dodger-blue: #1391ff;
$color-endeavour-blue: #005dae;
$color-governor-bay: #4234c5;
$color-electric-violet: #7300e5;
$color-berry-red: #990000;
$color-guardsman-red: #bb0000;
$color-persian-red: #cf3030;
$color-coral: #ff6060;
$color-mango-tango: #e97500;
$color-soft-peach: #f9f2f4;

$color-gray-50: lighten($color-black, 92%); //ebebeb
$color-gray-150: lighten($color-black, 70%); // #b3b3b3
$color-gray-200: lighten($color-black, 62.75%); // #a0a0a0
$color-gray-300: lighten($color-black, 56.5%); // #909090
$color-gray-400: lighten($color-black, 50%); // #808080
$color-gray-500: lighten($color-black, 43.75%); // #707070
$color-gray-650: lighten($color-black, 33.3%); // #555555
$color-gray-800: lighten($color-black, 25%); // #404040

// Theme

$color-primary: $color-vida-loca !default;
$color-secondary: $color-mine-shaft !default;
$color-info: $color-havelock-blue !default;
$color-warning: $color-coral !default;
$color-danger: $color-guardsman-red !default;

$color-primary--hover: $color-mantis-green !default;
$color-secondary--hover: $color-gray-500 !default;

$color-type--default: $color-mine-shaft !default;

$_color-post: $color-green-haze !default;
$_color-get: $color-dodger-blue !default;
$_color-put: $color-mango-tango !default;
$_color-delete: $color-persian-red !default;
$_color-head: $color-electric-violet !default;
$_color-patch: $color-persian-green !default;
$_color-disabled: $color-mercury-gray !default;
$_color-options: $color-endeavour-blue !default;

$_color-disabled--light: $color-alabaster !default;

// Authorize

$auth-container-border-color: $color-alto-gray !default;
$auth-conatiner-code-background-color: $color-soft-peach !default;
$auth-conatiner-code-font-color: $color-berry-red !default;

// Buttons

$btn-background-color: transparent !default;
$btn-border-color: $color-gray-150 !default;
$btn-border-color--hover: $color-mine-shaft !default;

$btn-authorize-background-color: $color-mine-shaft !default;
$btn-authorize-border-color: $color-mine-shaft !default;
$btn-authorize-font-color: $color-white !default;

$btn-authorize-svg-fill-color--unlocked: $color-gray-150 !default;
$btn-authorize-svg-fill-color--locked: $color-primary !default;

$btn-icon-authorize-svg-fill-color--locked: $color-gray-400 !default;
$btn-icon-authorize-svg-fill-color--unlocked: $color-primary !default;

$btn-execute-background-color: $color-primary !default;
$btn-execute-border-color: $color-primary !default;
$btn-execute-font-color: $color-white !default;

$btn-execute-background-color--hover: $color-primary--hover !default;
$btn-execute-border-color--hover: $color-primary--hover !default;

$btn-clear-background-color: $color-secondary !default;
$btn-clear-border-color: $color-secondary !default;
$btn-clear-font-color: $color-white !default;

$btn-clear-background-color--hover: $color-secondary--hover !default;
$btn-clear-border-color--hover: $color-secondary--hover !default;

$btn-try-out-background-color: $color-primary !default;
$btn-try-out-border-color: $color-primary !default;
$btn-try-out-font-color: $color-white !default;

$btn-try-out-background-color--hover: $color-primary--hover !default;
$btn-try-out-border-color--hover: $color-primary--hover !default; 

$expand-methods-svg-fill-color: $color-gray-500 !default;
$expand-methods-svg-fill-color-hover: $color-gray-800 !default; 

// Errors

$errors-wrapper-background-color: rgba($color-danger, .1) !default;
$errors-wrapper-border-color: $color-danger !default;

$errors-wrapper-errors-small-font-color: $color-mine-shaft !default;

// Form

$form-select-background-color: transparent !default;
$form-select-border-color: $color-bright-silver !default;

$form-input-border-color: $color-bright-silver !default;
$form-input-background-color: transparent !default;

$form-checkbox-label-font-color: $color-mine-shaft !default;
$form-checkbox-border-color: $color-silver !default;

// Markdown
$markdown-pre-font-color: $color-black !default;
$info-code-background-color: rgba($color-black,.05) !default; // make markdown prefix?
$info-code-font-color: $color-electric-violet !default;
//TODO: add general code font color

// Information

$info-link-font-color: $color-primary !default;
$info-link-font-color--hover: darken($info-link-font-color, 15%) !default;

$info-title-small-background-color: $color-waterloo-gray !default;

$info-title-small-pre-font-color: $color-white !default;

$info-title-small-pre-font-size: 1.2em;

// Layout

$opblock-border-color: $color-black !default;

$opblock-background-color--open: $color-white;
$opblock-border-color--open: $color-iron-gray;

$opblock-tag-border-bottom-color: $color-iron-gray !default;
$opblock-tag-background-color--hover: rgba($color-black,.02) !default;
$opblock-tag-h4-font-size: 2em;
$opblock-tag-small-font-size: 1.4em;

$opblock-header-tab-title-background-color--active: $color-primary !default;

$opblock-summary-method-background-color: $color-black !default;
$opblock-summary-method-font-color: $color-white !default;

$opblock-summary-description-font-size: 1.3em;
$opblock-summary-path-font-size: 1.3em;

$opblock-section-header-h4-font-size: 2em;

$operational-filter-input-border-color: $color-bright-silver !default;

$response-col-status-undocumented-font-color: $color-gray-300 !default;

$response-col-links-font-color: $color-gray-300 !default;

$response-col-description-inner-markdown-font-color: $color-white !default;

$response-col-description-inner-markdown-link-font-color: $color-primary !default;
$response-col-description-inner-markdown-link-font-color--hover: $color-primary--hover !default;

$download-contents-background-color: $color-waterloo-gray !default;
$download-contents-font-color: $color-white !default;

$scheme-container-background-color: $color-white !default;
$scheme-container-border-color: $color-iron-gray !default;

$server-container-background-color: $color-white !default;
$server-container-box-shadow-color: $color-black !default;

$server-container-computed-url-code-font-color: $color-gray-400 !default;

$loading-container-before-border-color: rgba($color-gray-650, .1) !default;
$loading-container-before-border-top-color: rgba($color-black, .6) !default;

$response-content-type-controls-accept-header-select-border-color: $color-japanese-laurel !default;
$response-content-type-controls-accept-header-small-font-color: $color-japanese-laurel !default;

// Modal

$dialog-ux-backdrop-background-color: rgba($color-black,.8) !default;


$dialog-ux-modal-background-color: $color-white !default;
$dialog-ux-modal-border-color: $color-gray-50 !default;

$dialog-ux-modal-header-border-bottom-color: $color-gray-50 !default;
$dialog-ux-modal-close-button-font-color: $color-gray-650 !default;

// Models

$model-deprecated-font-color: lighten($color-mine-shaft, 30%) !default;
$model-deprecated-warning-font-color: $color-danger !default;

$model-hint-font-color: $color-gray-50 !default;
$model-hint-background-color: rgba($color-black, .7) !default;

$section-models-border-color: $color-iron-gray !default;

$section-models-isopen-h4-border-bottom-color: rgba($section-models-border-color, .3) !default;

$section-models-h4-background-color--hover: rgba($color-black,.02) !default;

$section-models-h5-font-color: $color-gray-500 !default;

$section-models-model-container-background-color: $color-alabaster !default;

$section-models-model-box-background-color: rgba($color-black, .1) !default;

$prop-type-font-color: $color-governor-bay !default;

$prop-format-font-color: $color-mine-shaft !default;

// Tables

$table-parameter-name-required-font-color: $color-danger !default;

$table-parameter-deprecated-font-color: $color-danger !default;

// Topbar

$topbar-background-color: $color-cod-gray !default;

$topbar-link-font-color: $color-white !default;

$topbar-download-url-wrapper-element-border-color: $color-apple-green !default;

$topbar-download-url-input-background-color: $color-white !default;
$topbar-download-url-button-background-color: $color-apple-green !default;
$topbar-download-url-button-font-color: $color-white !default;

// Type

$code-text-font-color: $color-type--default !default;
$headline-text-font-color: $color-type--default !default;
$link-text-font-color: $color-primary !default; 

// Fonts
$alt-text-font-family:'Roboto-Medium';
$alt-text-font-color: $color-type--default !default;
$alt-text-font-weight: 500;
$alt-text-font-size: 1.4em;

$regular-text-font-family:'Roboto-Regular';
$regular-text-font-color: $color-type--default !default;
$regular-text-font-weight: 400;
$regular-text-font-size: 1.4em;

$bold-text-font-family:'Roboto-Bold';
$bold-text-font-color: $color-type--default !default;
$bold-text-font-weight: 400;
$bold-text-font-size: 1.4em;

$title-text-font-family:'Roboto-Light';
$title-text-font-color: $color-type--default !default;
$title-text-font-weight: 300;
$title-text-font-size: 2.8em;

$code-default-font-family:'Roboto-Mono';
$code-default-font-color: $color-type--default !default;
$code-default-font-weight: 300;
$code-default-font-size: 12px;
