
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-shield-check-regular:before { content: '\e8ac'; } /* '' */
.icon-level-down-regular:before { content: '\e8ad'; } /* '' */
.icon-clone-light:before { content: '\e8ae'; } /* '' */
.icon-angle-down-light:before { content: '\e8af'; } /* '' */
.icon-shield-alt-regular:before { content: '\e8b0'; } /* '' */
.icon-angle-up-light:before { content: '\e8b1'; } /* '' */
.icon-angle-right-light:before { content: '\e8b2'; } /* '' */