{
    "openapi": "3.0.2",
    "info": {
      "title": "Clinical Study",
      "description": "The Clinical Study interface enables an external system to read study data and demand forecast data, add a study entity, and submit the results of enrollment forecast calculations.",
      "version": "1.1.0"
    },
    "x-sap-api-type": "ODATAV4",
    "x-sap-shortText": "Retrieve full details of a study and its forecasts, add a study, and submit enrollment calculation results.",
    "servers": [
      {
        "url": "https://core-icsm-provider-prod.cfapps.eu10-004.hana.ondemand.com/api/config/v1",
        "description": "Production server for Intelligent Clinical Supply Management"
      }
    ],
    "tags": [
      {
        "name": "Blinding Groups"
      },
      {
        "name": "Blinding Scenarios"
      },
      {
        "name": "Blinding Scenarios texts"
      },
      {
        "name": "Cached Distributing Templates"
      },
      {
        "name": "Cached MRP Areas"
      },
      {
        "name": "Cached Molecules"
      },
      {
        "name": "Cached Ref Kit Type Items"
      },
      {
        "name": "Cached Ref Kit Types"
      },
      {
        "name": "Cached Site Groups"
      },
      {
        "name": "Cached Site Groups texts"
      },
      {
        "name": "Consolidated Site Groups"
      },
      {
        "name": "Contact Roles"
      },
      {
        "name": "Contact Roles texts"
      },
      {
        "name": "Contacts"
      },
      {
        "name": "Cost Object"
      },
      {
        "name": "Cost Object Types"
      },
      {
        "name": "Cost Object Types texts"
      },
      {
        "name": "Cost Object texts"
      },
      {
        "name": "Country"
      },
      {
        "name": "Country texts"
      },
      {
        "name": "Demand Forecast Demand"
      },
      {
        "name": "Demand Forecast Enrollment"
      },
      {
        "name": "Demand Forecast Site Group Statuses"
      },
      {
        "name": "Demand Forecast Site Group Statuses texts"
      },
      {
        "name": "Demand Forecast Visits"
      },
      {
        "name": "Demand Forecasts"
      },
      {
        "name": "Enrollment Curves"
      },
      {
        "name": "Enrollment Curves texts"
      },
      {
        "name": "Enrollment Data Points"
      },
      {
        "name": "External Enrollment Time Series"
      },
      {
        "name": "External Identifiers"
      },
      {
        "name": "Kit Type Country Label Group Element"
      },
      {
        "name": "Kit Type Country Regulatory Statuses"
      },
      {
        "name": "Kit Type Label Group Assignments"
      },
      {
        "name": "Kit Type Material Label Group Assignments"
      },
      {
        "name": "Kit Type Molecules"
      },
      {
        "name": "Kit Type Site Group Depots"
      },
      {
        "name": "Kit Type Treatment Assignments"
      },
      {
        "name": "Kit Type Tree Element"
      },
      {
        "name": "Kit Types"
      },
      {
        "name": "Label Group Country Assignments"
      },
      {
        "name": "Label Groups"
      },
      {
        "name": "Lead Molecules"
      },
      {
        "name": "Lead Molecules texts"
      },
      {
        "name": "Lean Study Demand Bucket Values"
      },
      {
        "name": "Lean Study Demand Buckets"
      },
      {
        "name": "Lean Study Demands"
      },
      {
        "name": "Lean Study Demands Presentation"
      },
      {
        "name": "Lean Study Schedule Agreement Statuses"
      },
      {
        "name": "Lean Study Schedule Agreement Statuses texts"
      },
      {
        "name": "Lean Study Site Groups"
      },
      {
        "name": "Materials"
      },
      {
        "name": "Materials View"
      },
      {
        "name": "Persons"
      },
      {
        "name": "Push To S P Log Entries"
      },
      {
        "name": "Randomization Group Site Groups"
      },
      {
        "name": "Randomization Groups"
      },
      {
        "name": "Ratio Mode"
      },
      {
        "name": "Ratio Mode texts"
      },
      {
        "name": "Recalculation Method"
      },
      {
        "name": "Recalculation Method Fallback Used"
      },
      {
        "name": "Recalculation Method Fallback Used texts"
      },
      {
        "name": "Recalculation Method texts"
      },
      {
        "name": "Scenarios"
      },
      {
        "name": "Site Groups"
      },
      {
        "name": "Studies"
      },
      {
        "name": "Study Actuals Source Settings"
      },
      {
        "name": "Study Demands"
      },
      {
        "name": "Study Dispensation Treatment Assignments"
      },
      {
        "name": "Study Enrollment Curves"
      },
      {
        "name": "Study External Identifier Assignments"
      },
      {
        "name": "Study Materials"
      },
      {
        "name": "Study Phases"
      },
      {
        "name": "Study Phases texts"
      },
      {
        "name": "Study Protocols"
      },
      {
        "name": "Study Regulatory Statuses"
      },
      {
        "name": "Study Regulatory Statuses texts"
      },
      {
        "name": "Study Scenario Additional Demand"
      },
      {
        "name": "Study Scenario Site Groups"
      },
      {
        "name": "Study Scenario Site Seedings"
      },
      {
        "name": "Study Scenario Status"
      },
      {
        "name": "Study Scenario Status texts"
      },
      {
        "name": "Study Statuses"
      },
      {
        "name": "Study Statuses texts"
      },
      {
        "name": "Study Timeline Kit Type Assignments"
      },
      {
        "name": "Study Timeline Periods"
      },
      {
        "name": "Study Timeline Schedules"
      },
      {
        "name": "Study Timeline Treatments"
      },
      {
        "name": "Study Transition Statuses"
      },
      {
        "name": "Study Transitions"
      },
      {
        "name": "Study Treatment Dispensation Events"
      },
      {
        "name": "Study Treatment Groups"
      },
      {
        "name": "Study Treatment Periods"
      },
      {
        "name": "Study Treatment Schedule DeSyncTGs"
      },
      {
        "name": "Study Treatment Schedule Treatments"
      },
      {
        "name": "Study Treatment Schedules"
      },
      {
        "name": "Study Treatment Switches"
      },
      {
        "name": "Study Treatments"
      },
      {
        "name": "Study Types"
      },
      {
        "name": "Study Types texts"
      },
      {
        "name": "Therapeutic Areas"
      },
      {
        "name": "Therapeutic Areas texts"
      },
      {
        "name": "Treatment Group Site Groups"
      }
    ],
    "paths": {
      "/$batch": {},
      "/BlindingGroups": {
        "get": {
          "summary": "Retrieve a list of blinding groups.",
          "tags": [
            "Blinding Groups"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdAt desc",
                    "createdBy",
                    "createdBy desc",
                    "modifiedAt",
                    "modifiedAt desc",
                    "modifiedBy",
                    "modifiedBy desc",
                    "ID",
                    "ID desc",
                    "blindingGroupID",
                    "blindingGroupID desc",
                    "blindingGroupDescription",
                    "blindingGroupDescription desc",
                    "blindedDescription",
                    "blindedDescription desc",
                    "study_ID",
                    "study_ID desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "ID",
                    "blindingGroupID",
                    "blindingGroupDescription",
                    "blindedDescription",
                    "study_ID"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "study"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved blinding groups.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of BlindingGroups",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingGroups"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingGroups({ID})": {
        "parameters": [
          {
            "description": "Key: ID (UUID) of BlindingGroups entity.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single blinding group.",
          "tags": [
            "Blinding Groups"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "ID",
                    "blindingGroupID",
                    "blindingGroupDescription",
                    "blindedDescription",
                    "study_ID"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "study"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved blinding group.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingGroups"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingGroups({ID})/study": {
        "parameters": [
          {
            "description": "Key: ID (UUID) of BlindingGroups entity.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve study of a blinding group.",
          "tags": [
            "Blinding Groups",
            "Studies"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "ID",
                    "CTSMStudyID",
                    "CTSMProtocolID",
                    "description",
                    "firstSubjectFirstVisit",
                    "lastSubjectFirstVisit",
                    "lastSubjectLastVisit",
                    "pushedToSupplyPlanningOn",
                    "pushedToSupplyPlanningBy",
                    "isSiteLevelTracking",
                    "eudraCT",
                    "hasKitTypeSpecificDepots",
                    "openLabel",
                    "isLeanStudy",
                    "isMultiprotocol",
                    "isTGwithOffsets",
                    "actualManagement",
                    "planningHorizonStart",
                    "planningHorizonEnd",
                    "sponsor_personNumber",
                    "isLinkedCTMS",
                    "status_code",
                    "studyType_ID",
                    "studyPhase_ID",
                    "leadMolecule_ID",
                    "therapeuticArea_ID",
                    "distrTemplateId_ID",
                    "blindingScenario_ID",
                    "costObject_ID",
                    "costObject_type"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "contacts",
                    "materials",
                    "blindingGroups",
                    "siteGroups",
                    "status",
                    "studyType",
                    "studyPhase",
                    "leadMolecule",
                    "therapeuticArea",
                    "distrTemplateId",
                    "blindingScenario",
                    "costObject",
                    "scenarios",
                    "kitTypes",
                    "externalIdentifiers",
                    "actualsSourceSetting",
                    "protocols",
                    "externalEnrollments",
                    "labelGroups",
                    "kitTypeTrees",
                    "demand"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved study.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.Studies"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingScenarios": {
        "get": {
          "summary": "Retrieve a list of blinding scenarios.",
          "tags": [
            "Blinding Scenarios"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdAt desc",
                    "createdBy",
                    "createdBy desc",
                    "modifiedAt",
                    "modifiedAt desc",
                    "modifiedBy",
                    "modifiedBy desc",
                    "ID",
                    "ID desc",
                    "blindingStrategyDescription",
                    "blindingStrategyDescription desc",
                    "isObsolete",
                    "isObsolete desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "ID",
                    "blindingStrategyDescription",
                    "isObsolete"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "texts",
                    "localized"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved blinding scenarios.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of BlindingScenarios",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingScenarios"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingScenarios('{ID}')": {
        "parameters": [
          {
            "description": "Key: ID (UUID) of BlindingScenarios entity.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 5
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single blinding scenario.",
          "tags": [
            "Blinding Scenarios"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "ID",
                    "blindingStrategyDescription",
                    "isObsolete"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "texts",
                    "localized"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved blinding scenario.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingScenarios"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingScenarios('{ID}')/localized": {
        "parameters": [
          {
            "description": "Key: ID (UUID) of BlindingScenarios entity.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 5
            }
          }
        ],
        "get": {
          "summary": "Retrieve a localized description of a blinding strategy.",
          "tags": [
            "Blinding Scenarios",
            "Blinding Scenarios texts"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID_texts",
                    "locale",
                    "ID",
                    "blindingStrategyDescription"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved localized blinding strategy description.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingScenarios_texts"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingScenarios('{ID}')/texts": {
        "parameters": [
          {
            "description": "Key: ID (UUID) of BlindingScenarios entity.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 5
            }
          }
        ],
        "get": {
          "summary": "Retrieve a list of localized descriptions of a blinding scenario.",
          "tags": [
            "Blinding Scenarios",
            "Blinding Scenarios texts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID_texts",
                    "ID_texts desc",
                    "locale",
                    "locale desc",
                    "ID",
                    "ID desc",
                    "blindingStrategyDescription",
                    "blindingStrategyDescription desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID_texts",
                    "locale",
                    "ID",
                    "blindingStrategyDescription"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved localized texts.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of BlindingScenarios_texts",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingScenarios_texts"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingScenarios_texts": {
        "get": {
          "summary": "Retrieve a list of blinding scenarios_texts.",
          "tags": [
            "Blinding Scenarios texts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID_texts",
                    "ID_texts desc",
                    "locale",
                    "locale desc",
                    "ID",
                    "ID desc",
                    "blindingStrategyDescription",
                    "blindingStrategyDescription desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID_texts",
                    "locale",
                    "ID",
                    "blindingStrategyDescription"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved blinding scenarios_texts.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of BlindingScenarios_texts",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingScenarios_texts"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/BlindingScenarios_texts({ID_texts})": {
        "parameters": [
          {
            "description": "Key: ID (UUID) of BlindingScenarios_texts entity.",
            "in": "path",
            "name": "ID_texts",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single blinding scenarios_text.",
          "tags": [
            "Blinding Scenarios texts"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID_texts",
                    "locale",
                    "ID",
                    "blindingStrategyDescription"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved blinding scenarios_text.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.BlindingScenarios_texts"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedDistributingTemplates": {
        "get": {
          "summary": "Retrieve a list of cached distribution templates.",
          "tags": [
            "Cached Distributing Templates"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID",
                    "ID desc",
                    "description",
                    "description desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID",
                    "description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached distribution templates.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedDistributingTemplates",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedDistributingTemplates"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedDistributingTemplates('{ID}')": {
        "parameters": [
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 30
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached distribution template.",
          "tags": [
            "Cached Distributing Templates"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID",
                    "description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached distribution template.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedDistributingTemplates"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedMRPAreas": {
        "get": {
          "summary": "Retrieve a list of cached MRP areas.",
          "tags": [
            "Cached MRP Areas"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "refreshedAt desc",
                    "ID",
                    "ID desc",
                    "mrpAreaText",
                    "mrpAreaText desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "ID",
                    "mrpAreaText"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached MRP areas.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedMRPAreas",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedMRPAreas"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedMRPAreas('{ID}')": {
        "parameters": [
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached MRP area.",
          "tags": [
            "Cached MRP Areas"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "ID",
                    "mrpAreaText"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached MRP area.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedMRPAreas"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedMolecules": {
        "get": {
          "summary": "Retrieve a list of cached molecules.",
          "tags": [
            "Cached Molecules"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "refreshedAt desc",
                    "MoleculeUUID",
                    "MoleculeUUID desc",
                    "MoleculeId",
                    "MoleculeId desc",
                    "Description",
                    "Description desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "MoleculeUUID",
                    "MoleculeId",
                    "Description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached molecules.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedMolecules",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedMolecules"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedMolecules({MoleculeUUID})": {
        "parameters": [
          {
            "description": "Key: MoleculeUUID",
            "in": "path",
            "name": "MoleculeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached molecule.",
          "tags": [
            "Cached Molecules"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "MoleculeUUID",
                    "MoleculeId",
                    "Description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached molecule.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedMolecules"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedRefKitTypeItems": {
        "get": {
          "summary": "Retrieve a list of cached reference kit type items.",
          "tags": [
            "Cached Ref Kit Type Items"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "refreshedAt desc",
                    "MoleculeUUID",
                    "MoleculeUUID desc",
                    "RefKitTypeUUID",
                    "RefKitTypeUUID desc",
                    "MoleculeId",
                    "MoleculeId desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "MoleculeUUID",
                    "RefKitTypeUUID",
                    "MoleculeId"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "Molecule"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached reference kit type items.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedRefKitTypeItems",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedRefKitTypeItems"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedRefKitTypeItems(MoleculeUUID={MoleculeUUID},RefKitTypeUUID={RefKitTypeUUID})": {
        "parameters": [
          {
            "description": "Key: MoleculeUUID",
            "in": "path",
            "name": "MoleculeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          },
          {
            "description": "Key: RefKitTypeUUID",
            "in": "path",
            "name": "RefKitTypeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached reference kit type item.",
          "tags": [
            "Cached Ref Kit Type Items"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "MoleculeUUID",
                    "RefKitTypeUUID",
                    "MoleculeId"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "Molecule"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached reference kit type item.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedRefKitTypeItems"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedRefKitTypeItems(MoleculeUUID={MoleculeUUID},RefKitTypeUUID={RefKitTypeUUID})/Molecule": {
        "parameters": [
          {
            "description": "Key: MoleculeUUID",
            "in": "path",
            "name": "MoleculeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          },
          {
            "description": "Key: RefKitTypeUUID",
            "in": "path",
            "name": "RefKitTypeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve molecule of a cached reference kit type item.",
          "tags": [
            "Cached Ref Kit Type Items",
            "Cached Molecules"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "MoleculeUUID",
                    "MoleculeId",
                    "Description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved molecule.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedMolecules"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedRefKitTypes": {
        "get": {
          "summary": "Retrieve a list of cached reference kit types.",
          "tags": [
            "Cached Ref Kit Types"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "refreshedAt desc",
                    "RefKitTypeUUID",
                    "RefKitTypeUUID desc",
                    "RefKitID",
                    "RefKitID desc",
                    "INNDescription",
                    "INNDescription desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "RefKitTypeUUID",
                    "RefKitID",
                    "INNDescription"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "KitTypeItems"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached reference kit types.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedRefKitTypes",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedRefKitTypes"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedRefKitTypes({RefKitTypeUUID})": {
        "parameters": [
          {
            "description": "Key: RefKitTypeUUID",
            "in": "path",
            "name": "RefKitTypeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached reference kit type.",
          "tags": [
            "Cached Ref Kit Types"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "RefKitTypeUUID",
                    "RefKitID",
                    "INNDescription"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "KitTypeItems"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached reference kit type.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedRefKitTypes"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedRefKitTypes({RefKitTypeUUID})/KitTypeItems": {
        "parameters": [
          {
            "description": "Key: RefKitTypeUUID",
            "in": "path",
            "name": "RefKitTypeUUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieve a list of kit type items of a cached reference kit type.",
          "tags": [
            "Cached Ref Kit Types",
            "Cached Ref Kit Type Items"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "refreshedAt desc",
                    "MoleculeUUID",
                    "MoleculeUUID desc",
                    "RefKitTypeUUID",
                    "RefKitTypeUUID desc",
                    "MoleculeId",
                    "MoleculeId desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "MoleculeUUID",
                    "RefKitTypeUUID",
                    "MoleculeId"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "Molecule"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved kit type items.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedRefKitTypeItems",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedRefKitTypeItems"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups": {
        "get": {
          "summary": "Retrieve a list of cached site groups.",
          "tags": [
            "Cached Site Groups"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "refreshedAt desc",
                    "ID",
                    "ID desc",
                    "description",
                    "description desc",
                    "country_countryId",
                    "country_countryId desc",
                    "materialPooling",
                    "materialPooling desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "ID",
                    "description",
                    "country_countryId",
                    "materialPooling"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "country",
                    "texts",
                    "localized"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached site groups.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedSiteGroups",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedSiteGroups"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups('{ID}')": {
        "parameters": [
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached site group.",
          "tags": [
            "Cached Site Groups"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "ID",
                    "description",
                    "country_countryId",
                    "materialPooling"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "country",
                    "texts",
                    "localized"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached site group.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedSiteGroups"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups('{ID}')/country": {
        "parameters": [
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          }
        ],
        "get": {
          "summary": "Retrieve country of a cached site group.",
          "tags": [
            "Cached Site Groups",
            "Country"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "refreshedAt",
                    "countryId",
                    "countryName",
                    "daysOffset"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "texts",
                    "localized"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved country.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.Country"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups('{ID}')/localized": {
        "parameters": [
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          }
        ],
        "get": {
          "summary": "Retrieve a localized description of a cached site group.",
          "tags": [
            "Cached Site Groups",
            "Cached Site Groups texts"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "locale",
                    "ID",
                    "description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved localized description of a cached site group.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedSiteGroups_texts"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups('{ID}')/texts": {
        "parameters": [
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          }
        ],
        "get": {
          "summary": "Retrieve a list of localized descriptions of a cached site group.",
          "tags": [
            "Cached Site Groups",
            "Cached Site Groups texts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "locale",
                    "locale desc",
                    "ID",
                    "ID desc",
                    "description",
                    "description desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "locale",
                    "ID",
                    "description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved localized descriptions.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedSiteGroups_texts",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedSiteGroups_texts"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups_texts": {
        "get": {
          "summary": "Retrieve a list of cached site groups_texts.",
          "tags": [
            "Cached Site Groups texts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "locale",
                    "locale desc",
                    "ID",
                    "ID desc",
                    "description",
                    "description desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "locale",
                    "ID",
                    "description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached site groups_texts.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "title": "Collection of CachedSiteGroups_texts",
                    "properties": {
                      "@odata.count": {
                        "$ref": "#/components/schemas/count"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedSiteGroups_texts"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/CachedSiteGroups_texts(locale='{locale}',ID='{ID}')": {
        "parameters": [
          {
            "description": "Key: locale",
            "in": "path",
            "name": "locale",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 14
            }
          },
          {
            "description": "Key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          }
        ],
        "get": {
          "summary": "Retrieve a single cached site groups_text.",
          "tags": [
            "Cached Site Groups texts"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "locale",
                    "ID",
                    "description"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved cached site groups_text.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/com.sap.ctsm.backend.core.api.study.v1.StudyAPIv1.CachedSiteGroups_texts"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "500": {
              "$ref": "#/components/responses/500"
            }
          }
        }
      },
      "/ConsolidatedSiteGroups": {
        "get": {
          "summary": "Retrieve a list of consolidated site groups.",
          "tags": [
            "Consolidated Site Groups"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "ID",
                    "ID desc",
                    "active",
                    "active desc",
                    "siteGroupID",
                    "siteGroupID desc",
                    "siteGroupDescription",
                    "siteGroupDescription desc",
                    "scenario_ID",
                    "scenario_ID desc",
                    "firstSubjectFirstVisit",
                    "firstSubjectFirstVisit desc",
                    "lastSubjectFirstVisit",
                    "lastSubjectFirstVisit desc",
                    "lastSubjectLastVisit",
                    "lastSubjectLastVisit desc",
                    "plannedEnrollment",
                    "plannedEnrollment desc",
                    "actualEnrollment",
                    "actualEnrollment desc",
                    "plannedNumberOfSites",
                    "plannedNumberOfSites desc",
                    "activatedSites",
                    "activatedSites desc",
                    "isLinkedCTMS",
                    "isLinkedCTMS desc",
[...]
