/*  Colors
========================================================================== */
$black: #000000;
$white: #ffffff;
$darkGry: #666666;
$lightGry: #F5F5F5;

$borderLight: #E6E6E6;

$methodBlue: #1E90B3;
$methodGreen: #6ABD59;
$methodPurple: #9B6F8A;
$methodRed: #E37879;

.black70 {color: rgba($black, .70) !important;}
.black45 {color: rgba($black, .45) !important;}
.white45 {color: rgba($white, .45) !important;}
